<style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.1em; padding-left: 1.5em; font-size: 1em; height: 14px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }

  #sortableStudents { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  #sortableStudents li { margin: 0 3px 3px 3px; padding: 0.1em; padding-left: 1.5em; font-size: 1em; height: 14px; }
  #sortableStudents li span { position: absolute; margin-left: -1.3em; }  
</style>

<script language="javascript">

    $(function() {
		loadClassrooms();
		loadgroups();

	    $( "#sortable" ).sortable();
	    $( "#sortableStudents" ).sortable();

        $("#saveButton").button({ icons: { primary: "ui-icon-disk"}});
        $("#cancelButton")
            .button({ icons: { primary: "ui-icon-close"}})
            .click( function(){ $('#dialog-form').dialog('close'); });
    });
    
    function loadClassrooms(){
		 jQuery.get("{{=URL(c='thinclients',f='call/json/getNodes')}}",		
			function(data){		
				jQuery.each(data.response, function(i,item){
					jQuery("#nodes").append("<option value='"+item+"'>"+item+"</option>");
				});
			}
		);  
    }
    
    function loadgroups(){
		 jQuery.get("{{=URL(c='reports',f='call/json/getClassrooms')}}",		
			function(data){		
				jQuery.each(data.classrooms, function(i,item){
					jQuery("#groups").append("<option value='"+item+"'>"+item+"</option>");
				});
			}
		);         	
    }
    
    function getComputersNode(){
    	 jQuery('#sortable').empty();
    	 
		 jQuery.get("{{=URL(c='thinclients',f='call/json/getComputersNode')}}",{ node: jQuery("#nodes").val() },	
			function(data){		
				jQuery.each(data.response, function(i,item){
					var res = item.split("-");
					if (res[1].charAt(0)=="p")
						$("#sortable").append('<li class="ui-state-default" id="'+item+'"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>'+item+'</div></li>');
				});
			}
		);      	
    }

    function getStudents(){
    	 jQuery('#sortableStudents').empty();
    	 
		 jQuery.get("{{=URL(c='thinclients',f='call/json/getUsers')}}",{ name: jQuery("#groups").val() },	
			function(data){		
				jQuery.each(data.response, function(i,item){
					if(item.uid!="")
						$("#sortableStudents").append('<li class="ui-state-default" id="'+item.uid+'"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>'+item.sn+'</li>');
				});
			}
		);      	
    }
    
    function restartStyle(){
        $("#form_data p span").css("color","black");
        $('#message').html("");
    }

    function send(){
		var computers = new Array();
		var students = new Array();

		i=0;
		$( "#sortable li" ).each(function( index ) {
			//computers[index] = $( this ).text();
			computers.push($( this ).text());
			i++;
		});

		//jQuery("#numComputers").val(i);

		$( "#sortableStudents li" ).each(function( index ) {
			students[index] = $( this ).attr('id');
		});

		var dataLists = {
			"computers": computers,
			"students": students
		}

    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session

        restartStyle();
        jQuery.post('call/json/saveAssignation', jQuery("#form_data").serialize()+"&"+jQuery.param(dataLists), function(result) {
            switch(result.response){
                case "OK":{
                    jQuery('#message').html("Operación realizada correctamente").css("color","green").effect("highlight", {"color":"yellow"}, 1000);
					jQuery("#list").trigger("reloadGrid");					
					setTimeout("$('#dialog-form').dialog('close')",1000);
                    break;
                }                
                case "NotComputers":{
                    jQuery('#message').html("No hay equipos para asignar").effect("slide");
                    break;
                }
                case "fail":{
                    jQuery('#message').html("Se produjo un error").effect("highlight", {"color":"yellow"}, 1000);
                    break;
                }
                default:{
                    jQuery('#'+result.response+"Tag").css("color","red");
                    jQuery('#'+result.response).effect("highlight", {"color":"yellow"}, 1000).focus();
                    jQuery('#message').html("Hay campos vacíos o incorrectos").effect("slide");
                    break;
                }
            }
        });

        return false;
    }
</script>

<form id="form_data" onsubmit="return send();">
	<input type="hidden" name="numComputers" id="numComputers">
	<table style="width: 100%;">
		<tr>
			<td style="width:20%;">
				Aulas<br>
				<select id="nodes" name="nodes" onChange="javascript:getComputersNode();">
					<option value="0">Seleccione</option>
				</select>
			</td>
			<td>
				Grupos<br>
				<select id="groups" name="groups" onChange="javascript:getStudents();">
					<option value="0">Seleccione</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<ul id="sortable">
				</ul>
			</td>
			<td>
				<ul id="sortableStudents">
				</ul>
			</td>
		</tr>
	</table>
    <div id="message" style="text-align:center; font-weight:bold; color:red; padding:3px; "></div>
    <div style="text-align:center;"><button id="saveButton" type="submit" style="width:100px;">Asignar</button>&nbsp;&nbsp;<button type="button" id="cancelButton" style="width:100px;">Cancelar</button></div>
    <p style="padding-top:10px; text-align:center; font-size:10px;" id="messageForm"></p>       
</form>