<script language="javascript">

    $(function() {
        $("#purpose").focus();
        $("#saveButton").button({ icons: { primary: "ui-icon-transferthick-e-w"}});
        $("#cancelButton")
            .button({ icons: { primary: "ui-icon-close"}})
            .click( function(){ $('#dialog-form').dialog('close'); });
    });

    function restartStyle(){
        $("#form_data p span").css("color","black");
        $('#message').html("");
    }

    function send(){
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
        restartStyle();

        jQuery.post('call/json/move', jQuery("#form_data").serialize(), function(result) {
            switch(result.response){
                case "OK":{
                    jQuery('#message').html("Operación realizada correctamente").css("color","green").effect("highlight", {"color":"yellow"}, 1000);
                    setTimeout("$('#dialog-form').dialog('close')",1000);
                    jQuery("#list").trigger("reloadGrid");
                    break;
                }
                case "fail":{
                    jQuery('#message').html("Se produjo un error").effect("highlight", {"color":"yellow"}, 1000);
                    break;
                }          
                default:{
                    jQuery('#'+result.response+"Tag").css("color","red");
                    jQuery('#'+result.response).effect("highlight", {"color":"yellow"}, 1000).focus();
                    jQuery('#message').html("Hay campos vacíos o incorrectos").effect("slide");
                    break;
                }
            }
        });

        return false;
    }
    
</script>
 
<form id="form_data" onsubmit="return send();">
    <input type="hidden" id="rows" name="rows"/>
    <div>
		<table width="100%">
			<tr><td><span id="purposeTag">Aula destino</span></td><td><select id="classroom" name="classroom">{{ for i in range(1,51):}}{{= OPTION(str(i),_value=i) }}{{pass}}</select></td></tr>
			<tr><td>Acci&oacute;n</td><td><select id="action" name="action"><option value="free_gap" default="default">Colocar en huecos libres</option><option value="overwrite">Sobreescribir</option></select></td></tr>
			<tr><td>A partir del puesto (inclusive)</td><td><select id="startIN" name="startIN">{{ for i in range(1,36):}}{{= OPTION(str(i),_value=i) }}{{pass}}</select></td></tr>
			<tr><td>¿Backup de los equipos sobreescritos en aula a9999?</td><td><select id="backup" name="backup"><option value="si">S&iacute;</option><option value="no">No</option></select></td></tr>
		</table>
    </div>
    <div id="message" style="text-align:center; font-weight:bold; color:red; padding:3px; "></div>
    <div style="text-align:center;"><button id="saveButton" type="submit" style="width:100px;">Mover</button>&nbsp;&nbsp;<button type="button" id="cancelButton" style="width:100px;">Cancelar</button></div>
    <p style="padding-top:10px; text-align:center; font-size:10px;" id="messageForm"></p>       
</form>
