<!-- Libreria Multiselect -->
{{response.files.append(URL('static','js/multiselect/jquery.multiselect.css'))}}
{{response.files.append(URL('static','js/multiselect/jquery.multiselect.min.js'))}}
{{response.files.append(URL('static','js/multiselect/jquery.multiselect.es.js'))}}
{{#response.files.append(URL('static','css/helper.css'))}}
{{#response.files.append(URL('static','css/dropdown.css'))}}
{{#response.files.append(URL('static','css/default.advanced.css'))}}

 
{{extend 'layout.html'}}

        <div id="tabla_clientes" class="centerGrid">
            <table id="list" width="100%"></table>
            <div id="pager" style=""></div> 
            <div id="filter" style="margin-left:30%;display:none">Buscar nada</div>
        </div>

        <div id="dialog-form"></div>

        <div id="dialog-confirm" title="¿Borrar el registro seleccionado?" style="display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Este elemento quedará permanentemente eliminado. ¿Está seguro?</p>
        </div>

        <div id="dialog-alert" title="Atención" style="display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Para operar sobre un registro debe seleccionarlo previamente.</p>
        </div>


<script type="text/javascript">  
    
    jQuery(function() {
        jQuery("#dialog-confirm").dialog({ autoOpen: false });
        jQuery("#dialog-alert").dialog({ autoOpen: false });
    });
    
                
    function print_grid(){  
          jQuery("#list").jqGrid({
                url:"{{=URL(c='thinclients',f='call',args=['json','list'])}}",
                data: "{}",
                datatype: 'json',
                mtype: 'GET',
                contentType: "application/json; charset=utf-8",
                complete: function(jsondata, stat) {
                    if (stat == "success") {
                        var thegrid = jQuery("#list")[0];
                        thegrid.addJSONData(JSON.parse(jsondata.responseText).d);
                    }
                },
                
                colNames:['Nombre','Mac','Usuario'],
                colModel:[ 
                    {name:'cn',index:'cn', width:450, align:"center"},
                    {name:'mac',index:'mac', width:450, align:"center"},
                    {name:'username',index:'username', width:450, align:"center"}
                ], 
                rowNum:25,
                height:335,
                width: 900,
                rowList:[25,50,75],  
                pager: '#pager', 
                sortname: 'cn', 
                autowidth: false,
                viewrecords: true, 
                sortorder: "desc", 
                caption:"Equipos de Alumnos"    
        
          }); 
          jQuery("#list").jqGrid('navGrid','#pager',{add:false,edit:false,del:false,search:false,refresh:false});
        
            jQuery("#list").jqGrid('navButtonAdd','#pager',{
                    caption: "Insertar",
                    buttonicon :'ui-icon-plus',
                    onClickButton : function (){ 
                        addRecord();
                    } 
            }); 
            jQuery("#list").jqGrid('navButtonAdd','#pager',{
                    caption: "Modificar", 
                    buttonicon :'ui-icon-pencil',
                    onClickButton : function (){ 
                        modifyRecord();
                } 
            }); 
            jQuery("#list").jqGrid('navButtonAdd','#pager',{
                    caption: "Borrar", 
                    buttonicon :'ui-icon-trash',
                    onClickButton : function (){ 
                        deleteRecord();
                } 
            }); 
            jQuery("#list").jqGrid('navButtonAdd','#pager',{
                    caption: "Mover", 
                    buttonicon :'ui-icon-transferthick-e-w',
                    onClickButton : function (){ 
                        moveRecord();
                } 
            }); 
            jQuery("#list").jqGrid('navButtonAdd','#pager',{
                    caption: "Asignar", 
                    buttonicon :'ui-icon-transferthick-e-w',
                    onClickButton : function (){ 
                        assignComputers();
                } 
            }); 
            
          jQuery("#list").jqGrid('filterToolbar'); 
       
    }
    
    
    function rowSelected(){
            var uid = jQuery("#list").jqGrid('getGridParam','selrow'); 
        
            if( uid == null ){
                jQuery( "#dialog-alert" ).dialog({
                    resizable: false,
                    height:150,
                    width:290,
                    modal: true,
                    buttons: { "Aceptar": function() { $( this ).dialog( "close" ); }}
                }).dialog('open');
                return false;
            }
            return uid;
    }           
    
    function addRecord(){
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
            jQuery("#messageLoading").show();
        
            jQuery("#dialog-form").html("").css("display","none");
            jQuery("#dialog-form").load("form.html", function() {

                jQuery("#form_data #action").val("add");
            	jQuery("#form_data #name").attr("readonly","true");
            	jQuery("#form_data #name").css("background-color","#DDD");
                jQuery("#form_data #messageForm").html("Todos los campos son obligatorios");                                     
        
                x = (jQuery(window).width()-300)/2;
                y = (jQuery(window).height()-500)/2;
        
                jQuery("#messageLoading").hide();
        
                jQuery("#dialog-form").dialog({
                    resizable: false,
                    position: top,
                    modal: true,
                    width: 300,                     
                    title: "Añadir Equipo Alumno"
                }).dialog('option', 'position', [x, y]);
            });
    }
    
    function modifyRecord(){    
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
        jQuery("#messageLoading").show();
        
        var name = rowSelected();
        if(name==false)
            return false;

        jQuery("#dialog-form").html("").css("display","none");
        jQuery("#dialog-form").load("form.html", function() {                        


            jQuery("#p_typeTag").hide();
            jQuery("#p_classroomTag").hide();
            jQuery("#p_computerTag").hide();
            jQuery("#form_data #action").val("modify");
            jQuery("#form_data #name").attr("readonly","true");
            jQuery("#form_data #name").css("background-color","#DDD");
            jQuery("#form_data #messageForm").html("Todos los campos son obligatorios");
            
            jQuery.post('call/json/getHostData',{ name: name }, function(result) {

                jQuery("#form_data #name").val(result.response['cn']);
                jQuery("#form_data #mac").val(result.response['mac']);       

                x = (jQuery(window).width()-300)/2;
                y = (jQuery(window).height()-500)/2;
                
                jQuery("#messageLoading").hide();
                
                jQuery("#dialog-form").dialog({
                    resizable: false,
                    modal: true,
                    width: 300,
                    title: "Modificar Equipo Alumno"
                }).dialog('option', 'position', [x, y]);                        
            });               
        });
    }
    
    function deleteRecord(){
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
        var name = rowSelected();
        if(name==false)
            return false;
    
        jQuery( "#dialog-confirm" ).dialog({
            resizable: false,
            height:160,
            width:350,
            modal: true,
            buttons: {
                "Borrar": function() {
                    jQuery.post("call/json/delete",{host:name}, function(data){
                        jQuery("#dialog-confirm").dialog( "close" );
                        jQuery("#list").trigger("reloadGrid");
                    });
                },
                "Cancelar": function() {
                    $(this).dialog( "close" );
                }
            }
        }).dialog('open');
    }

    function moveRecord(){    
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
        jQuery("#messageLoading").show();
        
        var name = rowSelected();
        if(name==false)
            return false;

        jQuery("#dialog-form").html("").css("display","none");
        jQuery("#dialog-form").load("form_move.html", function() {                        
            
            jQuery("#form_data #action").val("modify");
            jQuery("#form_data #name").attr("readonly","true");
            jQuery("#form_data #name").css("background-color","#DDD");
            jQuery("#form_data #messageForm").html("Con esta opción moveremos de aula un equipo<br>Si en el destino hay otro equipo con el mismo nombre se sobreescribirá<br>Todos los campos son obligatorios");
            
            jQuery.post('call/json/getHostData',{ name: name }, function(result) {

                jQuery("#form_data #name").val(result.response['cn']);   

                x = (jQuery(window).width()-350)/2;
                y = (jQuery(window).height()-500)/2;
                
                jQuery("#messageLoading").hide();
                
                jQuery("#dialog-form").dialog({
                    resizable: false,
                    modal: true,
                    width: 350,
                    title: "Mover Equipo Alumno"
                }).dialog('option', 'position', [x, y]);                        
            });               
        });
    }

	function assignComputers(){
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
        jQuery("#messageLoading").show();
    
        jQuery("#dialog-form").html("").css("display","none");
        jQuery("#dialog-form").load("assignComputers.html", function() {    		
            x = (jQuery(window).width()-600)/2;
            y = (jQuery(window).height()-500)/2;
    
            jQuery("#messageLoading").hide();
    
            jQuery("#dialog-form").dialog({
                resizable: false,
                position: top,
                modal: true,
                width: 600,                     
                title: "Asignar Portátiles de Alumnos"
            }).dialog('option', 'position', [x, y]);
        });	
	}
</script>


<script type="text/javascript">
  jQuery(document).ready(function(){  print_grid();}); 
</script>
