<script language="javascript">

    $(function() {
		hideAllFields();
        $("#id_state").focus();
        $("#saveButtonFormHistory").button({ icons: { primary: "ui-icon-disk"}});
        $("#cancelButtonFormHistory")
            .button({ icons: { primary: "ui-icon-close"}})
            .click( function(){ $('#dialog-form-history').dialog('close'); });
    });

    function restartStyle(){
        jQuery("#form_data_history p span").css("color","black");
        jQuery('#messageHistory').html("");
    }

    function sendHistory(){
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
        restartStyle();
        jQuery.post('call/json/modifyHistory', jQuery("#form_data_history").serialize(), function(result) {
            switch(result.response){
                case "OK":{
                    jQuery('#messageHistory').html("Operación realizada correctamente").css("color","green").effect("highlight", {"color":"yellow"}, 1000);
					jQuery("#list_history").trigger("reloadGrid");
					jQuery("#list").trigger("reloadGrid");		
					setTimeout("jQuery('#dialog-form-history').dialog('close')",1000);
                    break;
                }
                case "fail":{
                    jQuery('#messageHistory').html("Se produjo un error").effect("highlight", {"color":"yellow"}, 1000);
                    break;
                }
                default:{
                    jQuery('#'+result.response+"Tag").css("color","red");
                    jQuery('#'+result.response).effect("highlight", {"color":"yellow"}, 1000).focus();
                    jQuery('#messageHistory').html("Hay campos vacíos o incorrectos").effect("slide");
                    break;
                }
            }
        });

        return false;
    }
    
	function getDataLDAP(){
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
		jQuery.post('call/json/getDataLDAP', jQuery("#form_data_history").serialize(), function(result) {
			jQuery("#form_data_history #name").val(result.response['surname']+", "+result.response['name']);
			jQuery("#form_data_history #nif").val(result.response['nif']);
			switch(result.response['type']){
				case 'teacher': jQuery("#form_data_history #id_user_type").val(1); break;
				case 'student': jQuery("#form_data_history #id_user_type").val(2); break;
				case 'staff': jQuery("#form_data_history #id_user_type").val(3); break;
			}	
		});
	}
	
	function hideAllFields(){
		jQuery("#form_data_history #usernameP").hide();
		jQuery("#form_data_history #id_user_typeP").hide();
		jQuery("#form_data_history #nifP").hide();
		jQuery("#form_data_history #nameP").hide();
		jQuery("#form_data_history #commentP").hide();
		jQuery("#form_data_history #computer_nameP").hide();
	}
	
	function resetFields(){
		jQuery("#form_data_history #username").val("");
		jQuery("#form_data_history #id_user_type").val("none");
		jQuery("#form_data_history #nif").val("");
		jQuery("#form_data_history #name").val("");
		jQuery("#form_data_history #computer_name").val("");
	}
	
	function showFields(){
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
		hideAllFields();
		switch(jQuery("#form_data_history #id_state").val()){
			case '2':
			case '3':
			case '5':
				jQuery("#form_data_history #usernameP").show();
				jQuery("#form_data_history #id_user_typeP").show();
				jQuery("#form_data_history #nifP").show();
				jQuery("#form_data_history #nameP").show();
				jQuery("#form_data_history #commentP").show();
				jQuery("#form_data_history #computer_nameP").show();
				break;
			case '4':
				jQuery("#form_data_history #computer_nameP").show();
			case '1':
				resetFields();
				jQuery("#form_data_history #commentP").show();
				break;
		} 
		if(jQuery("#form_data_history #id_state").val()=="3" && jQuery("#form_data_history #action").val()=="add"){
			jQuery.post('call/json/getDataLastHistory', jQuery("#form_data_history").serialize(), function(result) {
				if(result.response['username']!=""){
					jQuery("#form_data_history #username").val(result.response['username']);				
					getDataLDAP();	
				}
			});
		}
	}
</script>
 
<form id="form_data_history" onsubmit="return sendHistory();">
    <input type="hidden" id="action" name="action"/>
    <input type="hidden" id="id_laptop" name="id_laptop"/>
    <input type="hidden" id="id_historical" name="id_historical"/>    
    <div>
		<p><span id="id_stateTag">Estado (*)</span><br>
			<select type="text" id="id_state" name="id_state" onchange="javascript:showFields();">
				<option value="none">Seleccione...</option>
			</select>
		</p>
		<p id="computer_nameP"><span id="computer_nameTag">Nombre del Equipo</span><br><input type="text" id="computer_name" name="computer_name" size="20" maxlength="30"/></p>
		<p id="usernameP"><span id="usernameTag">Login (*)</span><br><input type="text" id="username" name="username" size="15" maxlength="80" onblur="javascript:getDataLDAP();"/></p>
		<p id="id_user_typeP"><span id="id_user_typeTag">Tipo usuario (*)</span><br>
			<select type="text" id="id_user_type" name="id_user_type">
				<option value="none">Seleccione...</option>
			</select>
		</p>    
		<p id="nifP"><span id="nifTag">NIF / NIE</span><br><input type="text" id="nif" name="nif" size="20" maxlength="200"/></p>
		<p id="nameP"><span id="nameTag">Apellidos, Nombre</span><br><input type="text" id="name" name="name" size="35" maxlength="200"/></p>
		<p id="commentP"><span id="commentTag">Comentario</span><br><input type="text" id="comment" name="comment" size="35" maxlength="200"/></p>
    </div>
    <div id="messageHistory" style="text-align:center; font-weight:bold; color:red; padding:3px; "></div>
    <div style="text-align:center;"><button id="saveButtonFormHistory" type="submit" style="width:100px;">Guardar</button>&nbsp;&nbsp;<button type="button" id="cancelButtonFormHistory" style="width:100px;">Cancelar</button></div>
    <p style="padding-top:10px; text-align:center; font-size:10px;" id="messageFormHistory"></p>       
</form>
