{{extend 'layout.html'}}  

	    <div style="text-align:center;">
		  <div id="radio">
		    <input type="radio" id="radio1" name="radio" value="current" checked="checked" onclick="javascript:jQuery('#list').trigger('reloadGrid');"/><label for="radio1">Situación actual</label>
		    <input type="radio" id="radio2" name="radio" value="complete" onclick="javascript:jQuery('#list').trigger('reloadGrid');"/><label for="radio2">Historial completo</label>
		  </div>
		</div>
        <div id="tabla_clientes" class="centerGrid">
            <table id="list" width="100%"></table>
            <div id="pager" style=""></div> 
            <div id="filter" style="margin-left:30%;display:none">Buscar nada</div>
        </div>

        <div id="dialog-form"></div>

        <div id="dialog-confirm" title="¿Borrar el registro seleccionado?" style="display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Este elemento quedará permanentemente eliminado. ¿Está seguro?</p>
        </div>

        <div id="dialog-alert" title="Atención" style="display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Para operar sobre un registro debe seleccionarlo previamente.</p>
        </div>


<script type="text/javascript">  
    
    jQuery(function() {
        jQuery("#dialog-confirm").dialog({ autoOpen: false });
        jQuery("#dialog-alert").dialog({ autoOpen: false });
    });
    
                
    function print_grid(){  
    	  //var states = $.ajax({url:"{{=URL(c='laptops',f='call',args=['json','getAllStatesGrid'])}}", async: false }).responseText;
			
          jQuery("#list").jqGrid({
                url:"{{=URL(c='laptops',f='call',args=['json','list'])}}",
                data: "{}",
                postData: { typeSearch: function() { return jQuery('input[name=radio]:checked').val();}},
                datatype: 'json',
                mtype: 'GET',
                contentType: "application/json; charset=utf-8",
                complete: function(jsondata, stat) {
                    if (stat == "success") {
                        var thegrid = jQuery("#list")[0];
                        thegrid.addJSONData(JSON.parse(jsondata.responseText).d);
                    }
                },
                colNames:['Marca','Modelo','Número Serie','Tipo','Login','Fecha/Hora','Estado'],
                colModel:[ 
                    {name:'trademark',index:'trademark', width:60, align:"center"},
                    {name:'model',index:'model', width:70, align:"center"},
                    {name:'serial_number',index:'serial_number', width:115, align:"center"},
                    {name:'user_type',index:'user_type', width:50, align:"center", stype:'select', editoptions:{value:":Todos;Profesor:Profesores;Alumno:Alumnos;Ninguno:Ninguno"}},
                    {name:'username',index:'username', width:100, align:"center"},
                    {name:'datetime',index:'datetime', width:80, align:"center"},
                    {name:'state',index:'state', width:65, align:"center", stype:'select', editoptions:{value:":Todos;Asignado:Asignado;En reparación:En reparación;Desaparecido:Desaparecido;Sin asignar:Sin asignar"}},   
                ], 
                rowNum:25,
                height:335,
                width: 900,
                rowList:[25,50,75],  
                pager: '#pager', 
                sortname: 'trademark', 
                autowidth: false,
                viewrecords: true, 
                sortorder: "asc", 
                caption:"Dispositivos"    
        
          }); 
          jQuery("#list").jqGrid('navGrid','#pager',{add:false,edit:false,del:false,search:false,refresh:false});
        
            jQuery("#list").jqGrid('navButtonAdd','#pager',{
                    caption: "",
                    title: "Insertar",
                    buttonicon :'ui-icon-plus',
                    onClickButton : function (){ 
                        addRecord();
                    } 
            }); 
            jQuery("#list").jqGrid('navButtonAdd','#pager',{
                    caption: "", 
                    title: "Modificar",
                    buttonicon :'ui-icon-pencil',
                    onClickButton : function (){ 
                        modifyRecord();
                } 
            }); 
            jQuery("#list").jqGrid('navButtonAdd','#pager',{
                    caption: "", 
                    title: "Borrar",
                    buttonicon :'ui-icon-trash',
                    onClickButton : function (){ 
                        deleteRecord();
                } 
            }).navSeparatorAdd("#pager",{sepclass : "ui-separator"}); 
            jQuery("#list").jqGrid('navButtonAdd','#pager',{
                    caption: "", 
                    title: "Historial",
                    buttonicon :'ui-icon-clock',
                    onClickButton : function (){ 
                        history();
                } 
            }); 
          
          jQuery("#list").jqGrid('filterToolbar'); 
       
    }
    
    
    function rowSelected(){
            var id = jQuery("#list").jqGrid('getGridParam','selrow'); 
        
            if( id == null ){
                jQuery( "#dialog-alert" ).dialog({
                    resizable: false,
                    height:150,
                    width:290,
                    modal: true,
                    buttons: { "Aceptar": function() { $( this ).dialog( "close" ); }}
                }).dialog('open');
                return false;
            }
            return id;
    }           
    
    function addRecord(){
    		ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
    		
            jQuery("#messageLoading").show();
        
            jQuery("#dialog-form").html("").css("display","none");
            jQuery("#dialog-form").load("form.html", function(data) {
            	
				getAllLaptopTypes();
				            	
                jQuery("#form_data #action").val("add");
                jQuery("#form_data #messageForm").html("Los campos marcados con asterisco son obligatorios");                                     
        
                x = (jQuery(window).width()-350)/2;
                y = (jQuery(window).height()-500)/2;
        
                jQuery("#messageLoading").hide();
        
                jQuery("#dialog-form").dialog({
                    resizable: false,
                    position: top,
                    modal: true,
                    width: 350,
                    title: "Añadir Dispositivo"
                }).dialog('option', 'position', [x, y]);
            });
    }
    
    function modifyRecord(){
    		ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
    		
			var id;

			jQuery("#messageLoading").show();
			
			var id = rowSelected();
			if(id==false)
				return false;

			jQuery("#dialog-form").html("").css("display","none");
			jQuery("#dialog-form").load("form.html", function(data) {				
				getAllLaptopTypes();

				jQuery("#form_data #action").val("modify");
				jQuery("#form_data #messageForm").html("Los campos marcados con asterisco son obligatorios");
				
				jQuery.post('call/json/getLaptopData',{ id_laptop: id }, function(result) {
					jQuery.each(result.response, function(index, value) {
						try {
							if(value=="None")
								jQuery("#form_data #"+index).val("");
							else
								jQuery("#form_data #"+index).val(value); 
						}catch(err){ }
					});			

					x = (jQuery(window).width()-350)/2;
					y = (jQuery(window).height()-500)/2;
					
					jQuery("#messageLoading").hide();
					
					jQuery("#dialog-form").dialog({
						resizable: false,
						modal: true,
						width: 350,
						title: "Modificar Dispositivo"
					}).dialog('option', 'position', [x, y]);                        
				});               
			});
    }
    
    function deleteRecord(){
    		ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
    		
            var id = rowSelected();
            if(id==false)
                return false;
        
            jQuery( "#dialog-confirm" ).dialog({
                resizable: false,
                height:160,
                width:350,
                modal: true,
                buttons: {
                    "Borrar": function() {
                        jQuery.post("call/json/delete","id_laptop="+id, function(data){
                            jQuery("#dialog-confirm").dialog( "close" );
                            jQuery("#list").trigger("reloadGrid");
                        });
                    },
                    "Cancelar": function() {
                        $(this).dialog( "close" );
                    }
                }
            }).dialog('open');
    }

    function history(){
    		ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
    		
			var id;

			jQuery("#messageLoading").show();
			
			var id = rowSelected();
			if(id==false)
				return false;

			jQuery("#dialog-form").html("").css("display","none");
			jQuery("#dialog-form").load("history.html", function() {
				jQuery("#form_history #id_laptop").val(id);				
				print_grid_historical();
								
				jQuery.post('call/json/getLaptopData',{ id_laptop: id }, function(result) {						

					jQuery("#form_history #id_laptop").val(result.response['id_laptop']);
					jQuery("#form_history #serial_number").html(result.response['serial_number']);
					jQuery("#form_history #id_trademark").html(result.response['trademark']);					

					x = (jQuery(window).width()-900)/2;
					y = (jQuery(window).height()-500)/2;
					
					jQuery("#messageLoading").hide();
					
					jQuery("#dialog-form").dialog({
						resizable: false,
						modal: true,
						width: 900,
						title: "Historial Dispositivo"
					}).dialog('option', 'position', [x, y]);                        
				});               
			});
    }

    function getAllLaptopTypes(){
            $.post("call/json/getAllLaptopTypes",   function(result) {
                $.each( result.response, function(i, l){
                    jQuery("#form_data #id_trademark").append("<option value='"+l.id_trademark+"'>"+l.trademark+"</option>");
                });                    
            });             
    }
</script>

<script type="text/javascript">
  jQuery(document).ready(function(){
  	print_grid();
  	$( "#radio" ).buttonset().find('label').width(150);
  }); 
</script>
