<script language="javascript">

    $(function() {
        $("#purpose").focus();
        $("#saveButton").button({ icons: { primary: "ui-icon-transferthick-e-w"}});
        $("#cancelButton")
            .button({ icons: { primary: "ui-icon-close"}})
            .click( function(){ $('#dialog-form').dialog('close'); });
    });

    function restartStyle(){
        $("#form_data p span").css("color","black");
        $('#message').html("");
    }

    function send(){
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
        restartStyle();

        jQuery.post('call/json/moveDevice', jQuery("#form_data").serialize(), function(result) {
            switch(result.response){
                case "OK":{
                    jQuery('#message').html("Operación realizada correctamente").css("color","green").effect("highlight", {"color":"yellow"}, 1000);
                    setTimeout("$('#dialog-form').dialog('close')",1000);
                    jQuery("#list").trigger("reloadGrid");
                    break;
                }
                case "fail":{
                    jQuery('#message').html("Se produjo un error").effect("highlight", {"color":"yellow"}, 1000);
                    break;
                }          
                default:{
                    jQuery('#'+result.response+"Tag").css("color","red");
                    jQuery('#'+result.response).effect("highlight", {"color":"yellow"}, 1000).focus();
                    jQuery('#message').html("Hay campos vacíos o incorrectos").effect("slide");
                    break;
                }
            }
        });

        return false;
    }
    
</script>
 
<form id="form_data" onsubmit="return send();">
    <input type="hidden" id="hosts" name="hosts"/>
    <input type="hidden" id="source" name="source"/>
    <div>
		<table width="100%">
		<tr>
			<td><span id="purposeTag">Destino</span>&nbsp;<select id="netgroup" name="netgroup"></select></td>
		</tr>
		</table>
    </div>
    <div id="message" style="text-align:center; font-weight:bold; color:red; padding:3px; "></div>
    <div style="text-align:center;"><button id="saveButton" type="submit" style="width:100px;">Mover</button>&nbsp;&nbsp;<button type="button" id="cancelButton" style="width:100px;">Cancelar</button></div>
    <p style="padding-top:10px; text-align:center; font-size:10px;" id="messageForm"></p>       
</form>
