{{response.files.append(URL('static','js/jquery.tzineClock/jquery.tzineClock.css'))}}
{{response.files.append(URL('static','js/jquery.tzineClock/jquery.tzineClock.js'))}}

 
{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'layout.html'}}

{{if auth.user is not None:}}


 <script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#fancyClock').tzineClock();
    });
</script>
{{pass}}
 


{{if 'message' in globals():}}

<h1>{{=message}}</h1>

<hr />

{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

<div id="fancyClock" style="float:center;"></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{{block left_sidebar}}New Left Sidebar Content{{end}}
{{block right_sidebar}}New Right Sidebar Content{{end}}
