{{extend 'layout.html'}}

 <script type="text/javascript">
     $(function() {
            $( "#tabs" ).tabs();
            $( "#authButton" ).button({ icons: { primary: "ui-icon-locked"}});
        });
</script>

<br><br>
<div style="text-align:center;" id="myTitleBig">Control<span class="fontTitle">IES</span><br></div>
<div style="text-align:center; font-size:14pt; padding-top:10px;">Centros educativos de Extremadura</div>
<br><br>
<div id="web2py_user_form">
    <div id="tabs" class="centerAuth"> 
        <ul> 
            <li><a href="#tabs-1">Autenticaci&oacute;n</a></li> 
        </ul> 
        <div id="tabs-1"> 
	        {{=IMG(_src=URL(r=request,c='static',f='images/unlock.png'),_style="float:right;")}} 
	            {{=form.custom.begin}}
	                <p><span>LDAP</span><br><input type="text" id="host" name="host" value="localhost"></p> 
	                <p><span>{{=form.custom.label.username}}</span><br>{{=form.custom.widget.username}}</p> 
	                <p><span>{{=form.custom.label.password}}</span><br>{{=form.custom.widget.password}}</p>
			<!--<p><input type="checkbox" name="secureAuth" id="secureAuth" checked="checked" />&nbsp;<span>Autenticación Segura</span></p><br>--> 
	                <p style="text-align:center;">
	                            {{form.custom.submit
	                            submit = form.element("input",_type="submit")
	                            submit["_value"] = "Autenticar"
	                            submit["_id"] = "authButton"
	                            =submit
	                            }}   
	            	</p>
	            {{=form.custom.end}}
        </div> 
    </div> 
</div>
<br><br>
<script language="javascript">
 jQuery("#web2py_user_form input:password").focus();
</script>
