<style>    
	.ui-menu { position: absolute; width: 100px; }	
	
	#scroller { list-style: none; padding: 0.5em; margin: 0.5em 0; }

	#scroller li { border: 1px solid #ddd; color:#000; width: 10em; margin: 0.25em; padding: 0.2em; background-color: #FFF; }
</style> 

{{extend 'layout.html'}}

<script>
    
    $(function() {
        $("#tabsHosts").tabs().css("font-size","13px");
                
		$("#dialogAlert").dialog({ autoOpen: false });
		
    	jQuery("#response").html("");
    	
        $("#text").focus();
        $("#aliasButton").button({ icons: { primary: "ui-icon-person"}})
		.click( function(){ modifyName(); });

        $("#execButton").button({ icons: { primary: "ui-icon-comment"}});
        $("#cancelButton")
            .button({ icons: { primary: "ui-icon-close"}})
            .click( function(){ $('#dialog-form').dialog('close'); });

	{{ if not session.alias: }}
		askName();
	{{ else: }}
		connectChat("{{= session.alias }}");
	{{pass}}
    });

    function send(command){
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session    			

        jQuery.post('call/json/chat_send_message', "&text="+jQuery("#text").val(), function(result) {
            switch(result.response){
                case "OK":{
					//jQuery("#response").append(result.message.replace(/\n/g, "<br/>")+"<br/>");		
					jQuery("#text").val("");
                    break;
                }
                case "fail":{
					jQuery("#response").append("<span style='color:red;'>"+result.message+"</span><br>");
                    break;
                }
            }

			var objDiv = document.getElementById("response");
			objDiv.scrollTop = objDiv.scrollHeight;					            
        });

        return false;
    }

	function askName(){   		
 	    ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
            jQuery("#messageLoading").show();
        
            jQuery("#dialog-form").html("").css("display","none");
            jQuery("#dialog-form").load("form_chat.html", function() {                
                jQuery("#form_data #messageForm").html("Todos los campos son obligatorios");                                     
        
                jQuery("#dialog-form").dialog({
					position: { my: "center top+45%", at: "top", of: window},
                    resizable: false,
                    modal: true,
                    width: 350,
                    title: "Introducir Alias",
                    close: function( event, ui ) { if($("#check_name").val()=="") $(location).attr('href',"{{= URL(c='default',f='index')}}");  }
                });
            });
	}

	function modifyName(){   		
 	    ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
            jQuery("#messageLoading").show();
        
            jQuery("#dialog-form").html("").css("display","none");
            jQuery("#dialog-form").load("form_chat.html", function() {                
                jQuery("#form_data #messageForm").html("Todos los campos son obligatorios");                                     
        
                jQuery("#dialog-form").dialog({
		    position: { my: "center top+45%", at: "top", of: window},
                    resizable: false,
                    modal: true,
                    width: 350,
                    title: "Modificar Alias",
                });
            });
	}

	function connectChat(name){
		try { web2py_websocket_stop(); } catch(err){};

		try {            
    	 	if(!web2py_websocket('ws://172.23.36.5:8888/realtimechat/chat/none/'+name+'.{{= session.domain }}',function(e){

	    	 	if (e.data.substring(0, 14) == "listusernames@") {
	    	 		var list = e.data.split("@");
	    	 		var names = list[1].split("#");

	    	 		$('#scroller').empty();
	    	 		for(i=0;i<names.length;i++)
	    	 			if (names[i]!="")
	    	 				$('#scroller').prepend('<li>'+names[i]+'</li>');
	    	 			
				} else {
		    	 	jQuery("#response").append(e.data);			
					var objDiv = document.getElementById("response");
					objDiv.scrollTop = objDiv.scrollHeight;
				}
					    	 	
	    	 })) alert("html5 websocket not supported by your browser, try Google Chrome");
		}
		catch(err) {}
		setChatSession();
	}

    function setChatSession(){
    	jQuery.post('call/json/setChatSession', function(result) {
            switch(result.response){
                case "OK":{
            		setTimeout("setChatSession()",15000);
                    break;
                }
                default:{
                    break;
                }
            }
        });
    }
</script>
<input type="hidden" id="check_name" name="check_name"/>
<table width="100%" cellspacing="12">
<tr>
	<td>    
	    <div id="tabsHosts">
	        <ul>
	            <li><a href="#tabsHosts1"><span id="actions">Chat</span></a></li>
	        </ul>
	        <div id="tabsHosts1" style="padding:3px;">  
	            <table>
	                <tr>
	                    <td style="width:90%;">
							<div id="response" style="height:400px; overflow:auto; background-color: #000; color:#EEE; padding-left: 1em;"></div>
							<form id="form_data" onsubmit="return send('executeCommand');">
								<p><span id="loading" style"float:right;"></span></p>
								<button id="aliasButton" type="button" style="width:30px;"></button><input type="text" id="text" name="text" size="60"/><button id="execButton" type="submit" style="width:100px;">Enviar</button>
							</form>
	                    </td>
	                    <td style="width:450px; vertical-align:top;">
							<div id="response" style="height:400px; overflow:auto; color:#EEE;">
								<li id="scroller"></li>
							</div>
	                    </td>
	                </tr>
	            </table>
	        </div>
	    </div>       
	</td>
</tr>
</table>

<div id="dialog-form"></div>

<div id="dialog-details"></div>

<div id="dialogAlert" title="Atenci&oacute;n">
        <p>
                <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 7px 0;"></span>
                <span id="dialogAlertMessage"></span>
        </p>
</div>
