{{response.files.append(URL('static','js/utils.js'))}}
{{extend 'layout.html'}}

<div id="dialog-alert" title="Atención" style="display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Operacion Realizada.</p>
</div>


<table width="100%" cellspacing="12">
    <tr>
    <td>    
        <div id="tabConfig"  class="ui-tabs ui-widget ui-widget-content ui-corner-all">
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tabs-1"><span id="actions">Configuración</span></a></li>
            </ul>
            <div id="tabs-1" style="padding:3px;" class="ui-tabs-panel ui-widget-content ui-corner-bottom">  
                <table>
                    <tr>
                        <td>
                            {{=form}}
                            <form>
                                    <input type="button" value="Enviar correo de prueba" id="envio" name="envio" onclick="javascript:sendMail()">
                            </form>

                        </td>
                    </tr>
                </table>
            </div>
        </div>              
    </td>
    </tr>
</table>

<script type="text/javascript">

    $(function() {
        $("#tabConfig").tabs().css("font-size","13px");
    });


    function sendMail() {
            
           jQuery('#envio').attr("disabled", "disabled");
           jQuery('#envio').attr("value", "Enviando correo...tenga paciencia");

           jQuery.post('call/json/sendMail', { data: "" } , function(result) {
                    jQuery('#envio').removeAttr("disabled");
                    jQuery('#envio').attr("value", "Enviar correo de prueba");
                    alert(result);
                    
           });

           return false;
    }

</script>



