<style>
    #selectable0 .ui-selecting { background: #FECA40; }
    #selectable0 .ui-selected { background: #F39814; color: white; }
    #selectable0 { list-style-type: none; margin: 0; padding: 0; }
    #selectable0 li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 80px; height: 95px; font-size: 1px; text-align: center; cursor:pointer; }

    #selectable1 .ui-selecting { background: #FECA40; }
    #selectable1 .ui-selected { background: #F39814; color: white; }
    #selectable1 { list-style-type: none; margin: 0; padding: 0; }
    #selectable1 li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 80px; height: 95px; font-size: 1px; text-align: center; cursor:pointer; } 

    #selectable2 .ui-selecting { background: #FECA40; }
    #selectable2 .ui-selected { background: #F39814; color: white; }
    #selectable2 { list-style-type: none; margin: 0; padding: 0; }
    #selectable2 li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 80px; height: 95px; font-size: 1px; text-align: center; cursor:pointer; }

	.ui-menu { position: absolute; width: 100px; }
	
	.computersON { display:none; width:12px; height:12px; border: 1px solid; border-color:black; border-radius: 75px; margin-left:50px; margin-top:45px; padding:2px; color:white; background-color:red; font-size:11px; position: absolute; }
</style> 

{{extend 'layout.html'}}

<script>
    
    $(function() {
        $("#tabsActions").tabs().css("font-size","13px");
        $("#tabsHosts").tabs().css("font-size","13px");
        
        $( "#selectAll" )
            .css("font-size","11px")
            .button({ icons: { primary: "ui-icon-circle-plus"}})
            .click(function(){ selectAll() });

        $( "#selectNone" )
            .css("font-size","11px")
            .button({ icons: { primary: "ui-icon-circle-minus"}})
            .click(function(){ selectNone() });

        $( "#turnOn" )
            .css("font-size","11px")        
            .button({ icons: { primary: "ui-icon-power"}})
            .click(function(){ sendOrderSelected("wakeup","",""); })            
			.next()
		        .button({
		          text: false,
		          icons: {
		            primary: "ui-icon-triangle-1-s"
		          }
	        })
	        .click(function() {
	          var menu = $( this ).parent().next().show().position({
	            my: "left top",
	            at: "left bottom",
	            of: this
	          });
	          $( document ).one( "click", function() {
	            menu.hide();
	          });
          	  return false;
             })
	        .parent()
	          .buttonset()
	          .next()
	          	.click(function(){ wakeupThinclients(); })  
	            .hide()
	            .menu();

        $( "#turnOff" )
            .css("font-size","11px")        
            .button({ icons: { primary: "ui-icon-closethick"}})
            .click(function(){ shutdown() });     

        $( "#execCommand" )
            .css("font-size","11px")        
            .button({ icons: { primary: "ui-icon-play"}})
            .click(function(){ execCommand() });     

        $( "#viewComputers" )
            .css("font-size","11px")        
            .button({ icons: { primary: "ui-icon-play"}})
            .click(function(){ viewComputers() });   

        $( "#classroomDetails" )
            .css("font-size","11px")        
            .button({ icons: { primary: "ui-icon-circle-close"}})
            .click(function(){ getClassroomDetails(); });       
        
        $( "#selectable0" ).selectable();
        $( "#selectable1" ).selectable();
        $( "#selectable2" ).selectable();
        
		$("#dialogAlert").dialog({ autoOpen: false });
		
        getLTSPServers();
        getWorkstations();
        getLaptops();
    });
    
    function getLTSPServers(){
        jQuery.post('call/json/getLTSPServers', function(result) {                                                            
            jQuery.each(result.response, function(i, l){
                jQuery('#selectable0').append('<li class="ui-state-default" id="selectable-'+l+'"><div id="pcName" style="font-size:11px;">'+l+'</div><div id="computersON" class="computersON"></div>{{=IMG(_src=URL(r=request,c="static",f="images/turnOff.png"),_class="thumb-image")}}<div id="userName" style="font-size:11px;"></div></li>');               
            });            
        });
    }

    function getWorkstations(){
        jQuery.post('call/json/getWorkstations', function(result) {                                                            
            jQuery.each(result.response, function(i, l){
                jQuery('#selectable1').append('<li class="ui-state-default" id="selectableWorkstations-'+l+'"><div id="pcName" style="font-size:11px;">'+l+'</div>{{=IMG(_src=URL(r=request,c="static",f="images/turnOff.png"),_class="thumb-image")}}<div id="userNameWorkstation" style="font-size:11px;"></div></li>');               
            });            
        });
    }

    function getLaptops(){
        jQuery.post('call/json/getLaptops', function(result) {                                                            
            jQuery.each(result.response, function(i, l){
                jQuery('#selectable2').append('<li class="ui-state-default" id="selectableLaptops-'+l+'"><div id="pcName" style="font-size:11px;">'+l+'</div>{{=IMG(_src=URL(r=request,c="static",f="images/turnOff.png"),_class="thumb-image")}}<div id="userNameLaptop" style="font-size:11px;"></div></li>');               
            });
            
            getLTSPStatus();
        });
    }

   
    function getLTSPStatus(){
        
        jQuery.post('call/json/getLTSPStatus', function(result) {     


            jQuery('li .thumb-image').attr('src','{{=URL(r=request,c="static",f="images/turnOff.png")}}');
            jQuery('li #userName').html('');
            jQuery('li #computersON').hide();

	    try{
		    jQuery('#teacherComputer .thumb-image').attr('src','{{=URL(r=request,c="static",f="images/turnOff.png")}}');       
                    jQuery('#teacherComputer #userName'+jQuery("#classroom").val()).html('');
                    jQuery('#teacherComputer #computersON'+jQuery("#classroom").val()).hide();

	    }catch(err){}

            jQuery.each(result.computers, function(i, l){                
                jQuery('#selectable0 #selectable-'+l+' .thumb-image').attr('src','{{=URL(r=request,c="static",f="images/turnOn.png")}}');           
                jQuery('#selectable1 #selectableWorkstations-'+l+' .thumb-image').attr('src','{{=URL(r=request,c="static",f="images/turnOn.png")}}');
                jQuery('#selectable2 #selectableLaptops-'+l+' .thumb-image').attr('src','{{=URL(r=request,c="static",f="images/turnOn.png")}}');

		try{
			if(jQuery("#classroom").val()==l){
		                jQuery('#teacherComputer .thumb-image').attr('src','{{=URL(r=request,c="static",f="images/turnOn.png")}}');       

			}
		}catch(err){}
            });

            $.each(result.teachers, function(i, l){
                var teacher = l.split(".");
                var computer = teacher[0].split("@");
                jQuery('#selectable0 #selectable-'+computer[1]+' #userName').html(computer[0]);
                jQuery('#selectable0 #selectable-'+computer[1]+' .thumb-image').attr('src','{{=URL(r=request,c="static",f="images/nobody.png")}}');

                jQuery('#selectable1 #selectableWorkstations-'+computer[1]+' #userNameWorkstation').html(computer[0]);
                jQuery('#selectable1 #selectableWorkstations-'+computer[1]+' .thumb-image').attr('src','{{=URL(r=request,c="static",f="images/nobody.png")}}');

                jQuery('#selectable2 #selectableLaptops-'+computer[1]+' #userNameLaptop').html(computer[0]);
                jQuery('#selectable2 #selectableLaptops-'+computer[1]+' .thumb-image').attr('src','{{=URL(r=request,c="static",f="images/nobody.png")}}');

		try{
			if(jQuery("#classroom").val()==computer[1]){
		                jQuery('#teacherComputer #userName'+computer[1]).html(computer[0]);
		                jQuery('#teacherComputer .thumb-image').attr('src','{{=URL(r=request,c="static",f="images/nobody.png")}}');
			}
		}catch(err){}
            });
                 
            jQuery.each(result.laptops, function(i, l){
                jQuery('#selectable0 #selectable-'+i+'-pro #computersON').show();
                jQuery('#selectable0 #selectable-'+i+'-pro #computersON').html(l);   

		try{
			if(jQuery("#classroom").val()==i+'-pro'){
				jQuery('#teacherComputer #computersON'+i+'-pro').show();
				jQuery('#teacherComputer #computersON'+i+'-pro').html(l);  
			}
		}catch(err){}        
            });
              
            setTimeout("getLTSPStatus()",10000);            
        });
    }


	function shutdown(){
		   		
		var selected = computersSelected();
		if(selected.length==0){
			modalAlert("Para realizar la acci&oacute;n debe seleccionar al menos un equipo");
			return;
		}			
	
		jQuery("#dialog-form").html("").css("display","none");
		jQuery("#dialog-form").load("execCommand.html", function(data) {				
	                                       
            x = (jQuery(window).width()-750)/2;
            y = (jQuery(window).height()-500)/2;
    
            jQuery("#messageLoading").hide();
    		jQuery("#form_data").hide();
    		
            jQuery("#dialog-form").dialog({
                resizable: false,
                position: top,
                modal: true,
                width: 750,
                title: "Apagar equipos"
            }).dialog('option', 'position', [x, y]);
            
            send("shutdown");            
		});		
	}


	function wakeupThinclients(){
		var selected = computersSelected();
		if(selected.length==0){
			modalAlert("Para realizar la acci&oacute;n debe seleccionar al menos un equipo");
			return;
		}
	
		jQuery("#dialog-form").html("").css("display","none");
		jQuery("#dialog-form").load("wakeupThin.html", function(data) {				
	                                       
            x = (jQuery(window).width()-750)/2;
            y = (jQuery(window).height()-550)/2;
    
            jQuery("#messageLoading").hide();
    
            jQuery("#dialog-form").dialog({
                resizable: false,
                position: top,
                modal: true,
                width: 750,
                title: "Encender Thinclients"
            }).dialog('option', 'position', [x, y]);            
		});		
	}


	function execCommand(){
		var selected = computersSelected();
		if(selected.length==0){
			modalAlert("Para realizar la acci&oacute;n debe seleccionar al menos un equipo");
			return;
		}
	
		jQuery("#dialog-form").html("").css("display","none");
		jQuery("#dialog-form").load("execCommand.html", function(data) {				
	                                       
            jQuery("#messageLoading").hide();
    
            jQuery("#dialog-form").dialog({
				position: { my: "center top+15%", at: "top", of: window},
                resizable: false,
                modal: true,
                width: 750,
                title: "Ejecutar comando",
                close: function(ev, ui) { web2py_websocket_stop(); },
            });           
		});		
	}

	var timer;
	
	function viewComputers(){
		var selected = computersSelected();
		if(selected.length!=1){
			modalAlert("Para realizar la acci&oacute;n debe seleccionar un equipo");
			return;
		}
	
		jQuery("#dialog-form").html("").css("display","none");
		jQuery("#dialog-form").load("classroom_computers.html", function(data) {				
			jQuery("#classroom").val(selected);
        	getLaptopsPupils();    
        	
        	timer =""; 
            jQuery("#messageLoading").hide();
    
            jQuery("#dialog-form").dialog({
				position: { my: "center top+15%", at: "top", of: window},
                resizable: false,
                modal: true,
                width: 850,
                title: "Equipos del aula",				
                close: function() { clearTimeout(timer); },
            });     
		});			
	}
			
</script>
<table width="100%" cellspacing="12">
<tr>
	<td>
		<div id="tabsActions">
        <ul>
            <li><a href="#tabsActions-1"><span id="actions">Acciones</span></a></li>
        </ul>
        <div id="tabsActions-1" style="padding:1px;">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="text-align:center;"><button id="selectAll" style="width:123px;">Selec. Todo</button></td>
                </tr>
                <tr>
                    <td style="text-align:center;"><button id="selectNone" style="width:123px;">Deselec. Todo</button></td>                       
                </tr>
                <tr>
                    <td style="text-align:center;">
                    	<div style="vertical-align:center;">
	                     	<button id="turnOn" style="vertical-align:middle; width: 94px;">Encender</button><button id="select" style="vertical-align:middle;"></button>
                    	</div>
						  <ul style="z-index: 1000">
						    <li><a href="#">Thinclients</a></li>
						  </ul>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;"><button id="turnOff" style="width:123px;">Apagar</button></td>
                </tr>
                <tr>
                    <td style="text-align:center;"><button id="execCommand" style="width:123px;">Ej. comando</button></td>
                </tr>       
                <tr>
                    <td style="text-align:center;"><button id="viewComputers" style="width:123px;">Equipos</button></td>
                </tr>    
            </table>
        </div>
    </div>
	</td>
	<td>    
	    <div id="tabsHosts">
	        <ul>
	            <li><a href="#tabsHosts1"><span id="actions">Servidores</span></a></li>
	            <li><a href="#tabsHosts2"><span id="actions">Workstations</span></a></li>
	            <li><a href="#tabsHosts3"><span id="actions">Port&aacute;tiles</span></a></li>
	        </ul>
	        <div id="tabsHosts1" style="padding:3px;">  
	            <table>
	                <tr>
	                    <td id="tableSelectable0">
	                        <ol id="selectable0" style="width:700px;"></ol>
	                    </td>
	                </tr>
	            </table>
	        </div>
	        <div id="tabsHosts2" style="padding:3px;">  
	            <table>
	                <tr>
	                    <td id="tableSelectable1">
	                        <ol id="selectable1" style="width:700px;"></ol>
	                    </td>
	                </tr>
	            </table>
	        </div>
	        <div id="tabsHosts3" style="padding:3px;">  
	            <table>
	                <tr>
	                    <td id="tableSelectable2">
	                        <ol id="selectable2" style="width:700px;"></ol>
	                    </td>
	                </tr>
	            </table>
	        </div>
	    </div>       
	</td>
</tr>
</table>

<div id="dialog-form"></div>

<div id="dialog-details"></div>

<div id="dialogAlert" title="Atenci&oacute;n">
        <p>
                <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 7px 0;"></span>
                <span id="dialogAlertMessage"></span>
        </p>
</div>
