<!-- Libreria Multiselect -->
{{response.files.append(URL('static','js/multiselect/jquery.multiselect.css'))}}
{{response.files.append(URL('static','js/multiselect/jquery.multiselect.min.js'))}}
{{response.files.append(URL('static','js/multiselect/jquery.multiselect.es.js'))}}

{{response.files.append(URL('static','js/autocomplete/TextboxList.css'))}}
{{response.files.append(URL('static','js/autocomplete/TextboxList.Autocomplete.css'))}}
{{response.files.append(URL('static','js/autocomplete/GrowingInput.js'))}}
{{response.files.append(URL('static','js/autocomplete/TextboxList.js'))}}
{{response.files.append(URL('static','js/autocomplete/TextboxList.Autocomplete.js'))}}
{{response.files.append(URL('static','js/autocomplete/TextboxList.Autocomplete.Binary.js'))}}

 
{{extend 'layout.html'}}

        <div id="tabla_clientes" class="centerGrid">
        <table id="list" width="100%"></table>
        <div id="pager" style=""></div> 
        <div id="filter" style="margin-left:30%;display:none">Search Invoices</div>
        </div>

        <div id="dialog-form"></div>

        <div id="dialog-confirm" title="¿Borrar el registro seleccionado?" style="display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Este elemento quedará permanentemente eliminado. ¿Está seguro?</p>
        </div>

        <div id="dialog-confirm-newlaptop" title="El portátil no existe ¿Desea registrarlo?" style="display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>El portátil no existe ¿Desea registrarlo?</p>
        </div>

        <div id="dialog-confirm-alreadyUser" title="Ya asignado" style="display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>El portátil se encuentra asignado a otro usuario ¿Desea reasignarlo?</p>
        </div>

        <div id="dialog-alert" title="Atención" style="display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Para operar sobre un registro debe seleccionarlo previamente.</p>
        </div>
        
        
<script type="text/javascript">  

jQuery(function() {
    jQuery("#dialog-confirm").dialog({ autoOpen: false });
    jQuery("#dialog-confirm-newlaptop").dialog({ autoOpen: false });
    jQuery("#dialog-confirm-alreadyUser").dialog({ autoOpen: false });
    jQuery("#dialog-alert").dialog({ autoOpen: false });
});

var lastsel;  
var subGridActive;

function print_grid(){  
      jQuery("#list").jqGrid({
            url:"{{=URL(c='laptops_groups',f='call',args=['json','list'])}}",
            data: "{}",            
            mtype: 'GET', 
            datatype: "json", 
            colNames:['Tipo Grupo','Nombre','ID Grupo','Nº Usuarios'],
            colModel:[
                {name:'type',index:'type', width:60, align:"center"},                                      
                {name:'cn',index:'cn', width:80, align:"center"},
                {name:'gidNumber',index:'gidNumber', width:60, align:"center"},
                {name:'usersNumber',index:'usersNumber', width:60, align:"center"}                      
            ], 
            rowNum:25,
            height:335,
            width: 900,
            rowList:[25,50,75],
            pager: '#pager', 
            sortname: 'cn', 
            autowidth: false,
            viewrecords: true, 
            sortorder: "desc",
			subGrid: true, 
            caption:"Relación de portátiles por Grupos",
			subGridOptions: {
				"plusicon"  : "ui-icon-triangle-1-e",
				"minusicon" : "ui-icon-triangle-1-s",
				"openicon"  : "ui-icon-arrowreturn-1-e",
				"reloadOnExpand" : false,
				"selectOnExpand" : true
			},
			subGridRowExpanded: function(subgrid_id, row_id) {
				ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
				
				var subgrid_table_id, pager_id;
				subgrid_table_id = subgrid_id+"_t";
				pager_id = "p_"+subgrid_table_id;
				$("#"+subgrid_id).html("<table id='"+subgrid_table_id+"' class='scroll'></table><div id='"+pager_id+"' class='scroll'></div>");
				jQuery("#"+subgrid_table_id).jqGrid({
					url:"{{=URL(c='laptops_groups',f='call',args=['json','getUsers'])}}?row_id="+row_id,
					mtype: 'GET', 
					datatype: "json", 
					colNames: ['Nombre y Apellidos','Usuario','Identificación','Nº Serie Portátil'],
					colModel: [
						{name:"cn",index:"cn",width:250},
						{name:"uid",index:"uid",width:150,key:true},
						{name:"employeeNumber",index:"employeeNumber",width:150,align:"center"},
						{name:"serial_number",index:"serial_number", editable:true, width:250,align:"center"}
					],
					rowNum:35,
					pager: pager_id,
					sortname: 'cn',
					sortorder: "desc",
					onSelectRow: function(uid){
						ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
						
						cellValue = jQuery.trim(jQuery("#"+subgrid_table_id).getCell(uid, 'serial_number'));
						subGridActive = subgrid_table_id;
						jQuery("#"+subgrid_table_id).setCell(uid, 'serial_number',cellValue);
						
						if(uid && uid!==lastsel){
							jQuery("#"+subgrid_table_id).jqGrid('restoreRow',lastsel);
						}
						
						jQuery("#"+subgrid_table_id).jqGrid('editRow',uid,true,false,false,false,false,

							function (rowid, responseXML){
								var a = jQuery.parseJSON(responseXML.responseText);
							
								if(a.response=="not_exists"){

							        jQuery( "#dialog-confirm-newlaptop" ).dialog({
							            resizable: false,
							            height:160,
							            width:350,
							            modal: true,
							            buttons: {
							                "Sí": function() {
							                    $(this).dialog( "close" );
												addLaptop(jQuery("#"+subgrid_table_id).getCell(uid, 'serial_number'),uid);
							                },
							                "No": function() {
							                	if (cellValue=="") cellValue=null;
							                	jQuery("#"+subgrid_table_id).setCell(uid, 'serial_number',cellValue);
							                    $(this).dialog( "close" );
							                }
							            }
							        }).dialog('open');
								}
								if(a.response=="already_assigned"){
							        jQuery( "#dialog-confirm-alreadyUser" ).dialog({
							            resizable: false,
							            height:160,
							            width:350,
							            modal: true,
							            buttons: {
							                "Sí": function() {
							                	newSerial = jQuery("#"+subgrid_table_id).getCell(uid, 'serial_number');							                	
							                    $(this).dialog( "close" );
										        $.post("{{=URL(c='laptops_groups',f='call',args=['json','reassignmentSerialNumber'])}}","username="+uid+"&serial_number="+cellValue+"&newSerial="+newSerial ,  function(request) {
										        	jQuery("#"+subgrid_table_id).trigger("reloadGrid"); 
										        });    
							                },
							                "No": function() {
							                	if (cellValue=="") cellValue=null;
							                	jQuery("#"+subgrid_table_id).setCell(uid, 'serial_number',cellValue);
							                    $(this).dialog( "close" );
							                }
							            }
							        }).dialog('open');
								}
								if(a.response=="unassignment"){
							        $.post("{{=URL(c='laptops_groups',f='call',args=['json','reassignmentSerialNumber'])}}","username="+uid+"&serial_number="+cellValue+"&newSerial=" ,  function(request) {});    
								}	
							}
						
						);
						lastsel=uid;
					},
					editurl:"{{=URL(c='laptops_groups',f='call',args=['json','modifySerialNumber'])}}",
					height: 150
				});
				jQuery("#"+subgrid_table_id).jqGrid('navGrid',"#"+pager_id,{edit:false,add:false,del:false,search:false,refresh:false})
			}
    
      }); 
      jQuery("#list").jqGrid('navGrid','#pager',{add:false,edit:false,del:false,search:false,refresh:false});
}

function addLaptop(serial_number,uid){
    ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
    jQuery("#messageLoading").show();
	
	jQuery("#dialog-form").html("").css("display","none");
	jQuery("#dialog-form").load("form.html", function() {
		getAllLaptopTypes();
		            	
	    jQuery("#form_data #username").val(uid);
        jQuery("#form_data #serial_number").attr("readonly","true");
        jQuery("#form_data #serial_number").css("background-color","#DDD");
	    jQuery("#form_data #serial_number").val(jQuery.trim(serial_number));
	    jQuery("#form_data #messageForm").html("Todos los campos son obligatorios");                                     
	
	    x = (jQuery(window).width()-350)/2;
	    y = (jQuery(window).height()-500)/2;
	
	    jQuery("#messageLoading").hide();
	
	    jQuery("#dialog-form").dialog({
	        resizable: false,
	        position: top,
	        modal: true,
	        width: 350,
	        title: "Añadir Portátil"
	    }).dialog('option', 'position', [x, y]);
	});
}


function getAllLaptopTypes(){
    $.post("{{=URL(c='laptops',f='call',args=['json','getAllLaptopTypes'])}}",   function(result) {
        $.each( result.response, function(i, l){
            jQuery("#form_data #id_trademark").append("<option value='"+l.id_trademark+"'>"+l.trademark+"</option>");
        });                    
    });             
}

</script>


<script type="text/javascript">
  jQuery(document).ready(function(){  print_grid();}); 
</script>
