Source: controlies
Section: python
Priority: extra
Maintainer: José L. Redrejo Rodríguez <jredrejo@debian.org>,Manuel Mora Gordillo <manuito@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4

Package: controlies
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-tornado, python-gluon, python-avahi, avahi-daemon, python-memcache, python-m2crypto, python-paramiko, python-ldap, python-imaging, python-dev, python-gobject, python-yaml, libapache2-mod-wsgi, libapache2-mod-python, libapache2-mod-gnutls, openssl, ssl-cert
Description: Gestión de LDAP para un centro educativo
 ControlIES gestiona cuentas de usuarios, grupos, aulas, departamentos,
 distintos tipos de ordenadores, importación de Rayuela, etc.

Package: controlies-client
Architecture: all
Depends: curl, cups, pkpgcounter, python-avahi, python-netifaces, python-dbus
Conflicts: controlies, controlies-ltspserver
Description: Caracteristicas adicionales de controlies para clientes

Package: controlies-ltspserver
Architecture: all
Depends: curl, cups, pkpgcounter, python-avahi, python-netifaces, python-dbus, python-paramiko, python-tornado
Conflicts: controlies, controlies-client
Description: Caracteristicas adicionales de controlies para ltspservers

Package: controlies-thinclient
Architecture: all
Depends: 
Conflicts: controlies
Description: Caracteristicas adicionales de controlies para thinclients
