<script language="javascript">

    $(function() {
        $("#name").focus();
        $("#exitButton")
             .click( function(){ $('#dialog-form').dialog('close'); });
    });
    
</script>
 
<form id="form_data">
    <input type="hidden" id="action" name="action"/>
    <div>
        <div style="float:right;">
            <p> {{=IMG(_src=URL('static','images/nobody.png'),_id='photo',_name='photo', _style='width:100px;height:100px;border:1px solid #BBB;')}} </p>
        </div>
        <div>       
            <p><span id="userTag">Usuario</span><br><input type="text" id="user" name="user" readonly="true"/></p>            
            <p><span id="typeTag">Tipo Usuario</span><br><input type="text" id="type" name="type" readonly="true"/></p>
            <p><span id="nameTag">Nombre y Apellidos</span><br><input type="text" id="name" name="name" readonly="true"/></p>
            <table>
                 <tr>
                    <td>
                        <p><span id="nifTag">NIF/NIA</span><br><input type="text" id="nif" name="nif" readonly="true"/></p>            
                    </td>
                    <td>
                        <p><span id="groupTag">Grupos</span><br><input type="text" id="group" name="group" readonly="true" style="width:300px;"/></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span id="equipoTag">Equipo</span><br><input type="text" id="equipo" name="equipo" readonly="true"/></p>
                    </td>
                    <td>
                        <p><span id="timeTag">Fecha y hora</span><br><input type="text" id="time" name="time" readonly="true"/></p>            
                    </td>
                </tr>
                <tr>
                    <td>
                       <p><span id="impresoraTag">Impresora</span><br><input type="text" id="impresora" name="impresora" readonly="true"/></p> 
                    </td>
                    <td>
                        <p><span id="jobidTag">JobID</span><br><input type="text" id="jobid" name="jobid" readonly="true"/></p>
                    </td>
                </tr>
                <tr>
                </tr>
                    <td colspan="2">
                        <p><span id="trabajoTag">Trabajo</span><br><input type="text" id="trabajo" name="trabajo" style="width:500px;" readonly="true"/></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">                
                        <p>
                            <span id="paginasTag">P&aacute;ginas</span><input type="text" id="paginas" name="paginas" style="width:40px;" readonly="true"/>                    
                            <span id="copiasTag">Copias</span><input type="text" id="copias" name="copias" style="width:40px;" readonly="true"/>&nbsp;&nbsp;
                           <span id="totalTag">Total</span><input type="text" id="total" style="width:40px;" name="total" readonly="true"/>
                        </p>
                    </td>
                </tr>
                
            </table>
            
        </div>
    </div>
    <div id="message" style="text-align:center; font-weight:bold; color:red; padding:3px; "></div>
    <div style="text-align:center;">
    <button type="button" id="exitButton" style="width:100px;">OK</button></div>
    <p style="padding-top:10px; text-align:center; font-size:10px;" id="messageForm"></p>       
</form>
