{{extend 'layout.html'}}

    <div>
		<div id="radio" style="float: right;">
	    	<input type="radio" id="radio1" name="radio" value="without" checked="checked" onclick="javascript:jQuery('#list').trigger('reloadGrid');"/><label for="radio1" title="Registros sin agrupar">Sin agrupar</label>
	    	<input type="radio" id="radio2" name="radio" value="print" onclick="javascript:jQuery('#list').trigger('reloadGrid');"/><label for="radio2" title="Agrupado por Impresora">Impresora</label>
	    	<input type="radio" id="radio3" name="radio" value="user" onclick="javascript:jQuery('#list').trigger('reloadGrid');"/><label for="radio3" title="Agrupado por Usuario">Usuario</label>
	    	<input type="radio" id="radio4" name="radio" value="host" onclick="javascript:jQuery('#list').trigger('reloadGrid');"/><label for="radio4" title="Agrupado por Host">Host</label>
	  	</div>
	    <form action="#" enctype="multipart/form-data" method="post" id="form_logprinter">
	        Fecha inicio: <input id="fechaini" name="fechaini" style="text-align:center; width:80px"/>&nbsp;
	        Fecha fin: <input id="fechafin" name="fechafin" style="text-align:center; width:80px"/>
	        <button type="button" id="clear" style="vertical-align: middle;" title="Limpiar fechas"></button>                                
	    </form>
	</div>
    <div id="tabla_logprinter">
      <table id="list" width="100%"></table>                        
        <div id="pager" style=""></div> 
        <div id="filter" style="margin-left:30%;display:none">Buscar nada</div>
    </div>

    <div id="dialog-form"></div>

    <div id="dialog-alert" title="Atención" style="display:none;">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Para operar sobre un registro debe seleccionarlo previamente.</p>
    </div>
         

<script type="text/javascript">    

   jQuery(function() {
        jQuery("#dialog-alert").dialog({ autoOpen: false });
        jQuery( "#radio" ).buttonset().find('label').width(100);
		jQuery( "#clear" )
			.button({icons: {primary: "ui-icon-cancel"},text: false })
			.click( function(){
				jQuery(':input','#form_logprinter').not(':button').val('');
				jQuery('#list').trigger('reloadGrid') 
			});
    });
                      
    function print_grid(){  
		  
          jQuery("#list").jqGrid({
                url:"{{=URL(c='logprinter',f='call',args=['json','list'])}}",
                data: "{}",
                postData: { fechaini: function() { return $("#fechaini").val();} , 
                            fechafin: function() { return $("#fechafin").val();} ,
                            groupBy: function() { return $('input[name=radio]:checked').val();}},
                datatype: 'json',
                mtype: 'GET',
                contentType: "application/json; charset=utf-8",
                complete: function(jsondata, stat) {
                    if (stat == "success") {
                        var thegrid = jQuery("#list")[0];
                        thegrid.addJSONData(JSON.parse(jsondata.responseText).d);
                    }
                },        
                colNames:['Fecha','Impresora','Jobid','Usuario','Host','Nombre','Pág.','Cop.','Tot.','Bytes','Borr'],
                colModel:[                  
                    
                    {name:'time',index:'time', width:40, align:"center", editable:true,  edittype:'text', editoptions:{readonly:true , maxlength: 20} },
                    {name:'impresora',index:'impresora', width:40, align:"left"},
                    {name:'jobid',index:'jobid', width:12, align:"right", editable:true,  edittype:'text', editoptions:{readonly:true , maxlength: 20} },
                    {name:'usuario',index:'usuario', width:30, align:"left"},
                    {name:'host',index:'host', width:30, align:"left"},
                    {name:'trabajo',index:'trabajo', width:60, align:"left", editable:true,  edittype:'text', editoptions:{readonly:true , maxlength: 20} },
                    {name:'paginas',index:'paginas', width:10, align:"left", editable:true,  edittype:'text', editoptions:{maxlength: 5}, editrules: {required:true, number: true}},
                    {name:'copias',index:'copias', width:10, align:"left", editable:true,  edittype:'text', editoptions:{maxlength: 5}, editrules: {required:true, number: true}},
                    {name:'total',index:'total', width:10, align:"left"},
                    {name:'tamanio',index:'tamanio', width:15, align:"left"}, 
                    {name:'borrar',index:'borrar', search:false, width:15, sortable: false, align:"left", formatter:'actions',
                          formatoptions: {
                            keys: true,
                            editformbutton: false,
                            delbutton: true,
                            editbutton: false,
                            delOptions: {                                 
                                 reloadAfterSubmit:true,
                                 processing: false,
                                 msg: "¿Desea borrar el resgistro de impresión seleccionado?",
                                 top: 300,
                                 left: 600,
                                 modal: true,
                                 width:340, 
                                 ajaxDelOptions: { contentType: "application/json" },                                 
                                 useDataProxy: true  //Utiliza el dataProxy del Grid para hacer la petición Ajax de borrado. Si definimos un dataProxy
                                                     //en la columna no funciona, pese a que la documentación dice que si.
                            }
                          }
                    }          
                ], 
                rowNum:25,
                height:335,
                width: 900,
                rowList:[25,50,75],  
                pager: '#pager', 
                sortname: 'time',                 
                autowidth: false,
                viewrecords: true, 
                sortorder: "desc", 
                caption:"Log impresión",
                footerrow: true, 
                userDataOnFooter: true, 
                
                dataProxy :  function (t, act) {                                          
                    switch(act){
                            case "del_list":{ //Si se ha llamado desde la accion de borrado de filas...
                               var rowid=t.data.id;
                               var grid = jQuery("#list");
                               jQuery.post('call/json/borrarLogPrinter', t.data , function(result) { 
                                    switch(result.response){
                                         case "OK":{
                                              grid.delRowData(rowid); 
                                              // Lo siguiente parece ser que impide que haya un popup de confirmación
                                              $("#delmod"+grid[0].id).hide();
                                              if (grid[0].p.lastpage > 1) {
                                                 // reload grid to make the row from the next page visable.
                                                 // TODO: deleting the last row from the last page which number is higher as 1
                                                 grid.trigger("reloadGrid", [{page:grid[0].p.page}]);
                                              };
                                              break;
                                         }
                                         case "fail":{
                                             alert("Ha habido un problema en el borrado");
                                             break;
                                         }
                                    }                                
                               });                               
                               break;   
                            }
                    };
                }
          }); 
          jQuery("#list").jqGrid('navGrid','#pager',{add:false,edit:true,del:false,search:false,refresh:false},
              {recreateForm: false,
              viewPagerButtons: false,
              url: 'call/json/modificarLogPrinter',
              closeAfterEdit: true, 
 			  beforeShowForm: function (formEdit) {  //para poner desactivados los campos readonly
					formEdit.find(".FormElement[readonly]")
						.prop("disabled", true)
						.addClass("ui-state-disabled")
						.closest(".DataTD")
						.prev(".CaptionTD");
				}
			}	
          );          
          
          //Titulo de la ventana de modificacion
          $.jgrid.edit.editCaption= "Modifique nº paginas y/o copias";
          
          
          jQuery("#list").jqGrid('filterToolbar'); 
                   
          jQuery("#list").jqGrid('navButtonAdd','#pager',{
                    caption: "Ver",
                    buttonicon :'ui-icon-search',
                    onClickButton : function (){               
			
			            verRegistro(); 
             	
  		            } 
          });
          
          jQuery("#list").jqGrid('navButtonAdd','#pager',{
                    caption: "CSV",
                    buttonicon :'ui-icon-calculator',
                    onClickButton : function (){               
						
                        //jQuery("#gs_time").val() -> es el filtro de la columna "time". Es mas facil obtenerlo todo junto de postData
                        //Se aplican los valores del filtro aplicado en la última consulta del grid. Si luego se han cambiado, pero no se
                        //actualizado el grid, no se actualizan. Es decir, el CSV se carga con lo mismo que hay en el grid.
                        
                        filtro=jQuery.param($("#list").getGridParam("postData"));
                        
                        jQuery.ajax({url:"export_csv",data: filtro})
                            .done(function ( data ){
                                switch(data){
                                    case 'noPeople':{
                                        jQuery('#messageReport').html("No se han encontrado datos").effect("highlight", {"color":"yellow"}, 1000);
                                        break
                                    }
                                    default: eval(data);
                                }
                            }
 
 
                        );	
  		            } 
          }); 
          
          jQuery("#list").jqGrid('navButtonAdd','#pager',{
                    caption: "PDF",
                    buttonicon :'ui-icon-calculator',
                    onClickButton : function (){               
						
                        //jQuery("#gs_time").val() -> es el filtro de la columna "time". Es mas facil obtenerlo todo junto de postData
                        //Se aplican los valores del filtro aplicado en la última consulta del grid. Si luego se han cambiado, pero no se
                        //actualizado el grid, no se actualizan. Es decir, el CSV se carga con lo mismo que hay en el grid.
                        
                        filtro=jQuery.param($("#list").getGridParam("postData"));
                        
                        jQuery.ajax({url:"export_pdf",data: filtro})
                            .done(function ( data ){
                                switch(data){
                                    case 'noPeople':{
                                        jQuery('#messageReport').html("No se han encontrado datos").effect("highlight", {"color":"yellow"}, 1000);
                                        break
                                    }
                                    default: eval(data);
                                }
                            }
 
 
                        );	
  		            } 
          }); 
          
          jQuery("#list").jqGrid('navButtonAdd','#pager',{
                    caption: "PDF Usuarios",
                    buttonicon :'ui-icon-calculator',
                    onClickButton : function (){               
						
                        //jQuery("#gs_time").val() -> es el filtro de la columna "time". Es mas facil obtenerlo todo junto de postData
                        //Se aplican los valores del filtro aplicado en la última consulta del grid. Si luego se han cambiado, pero no se
                        //actualizado el grid, no se actualizan. Es decir, el CSV se carga con lo mismo que hay en el grid.
                        
                        filtro=jQuery.param($("#list").getGridParam("postData"));
                        
                        jQuery.ajax({url:"export_pdf_user",data: filtro})
                            .done(function ( data ){
                                switch(data){
                                    case 'noPeople':{
                                        jQuery('#messageReport').html("No se han encontrado datos").effect("highlight", {"color":"yellow"}, 1000);
                                        break
                                    }
                                    default: eval(data);
                                }
                            }
 
 
                        );	
  		            } 
          }); 
       
    }

 function rowSelected(){
            var uid = jQuery("#list").jqGrid('getGridParam','selrow'); 
        
            if( uid == null ){
				jQuery("#list").css("cursor","pointer");                 
                jQuery( "#dialog-alert" ).dialog({
                    resizable: false,
                    height:150,
                    width:290,
                    modal: true,
                    buttons: { "Aceptar": function() { $( this ).dialog( "close" ); }}
                }).dialog('open');
                return false;
            }
            return uid;
    }           
  

function verRegistro(){
   
                    jQuery("#list").css("cursor","wait");        
       
					ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
	
	                var id = rowSelected();
                    if(id==false)
                        return false;
     
					
                    jQuery("#messageLoading").show();
                                        
                    data=jQuery("#list").jqGrid('getRowData',id); 
                    
                    uid=data.usuario;
                                       
                    if(uid==false) return false;                    
                    
                    jQuery("#dialog-form").html("").css("display","none");
                    jQuery("#dialog-form").load("form.html", function() {
                   
                        jQuery("#form_data #action").val("view");
                        jQuery("#form_data #user").attr("readonly","true");
                        jQuery("#form_data #user").css("background-color","#DDD");
                        
                                                                    
                        jQuery.post('call/json/getUserData',{ username: uid }, function(result) {
                            //var result = jQuery.parseJSON(data);
                                                        
                            
                            if(result.response['type']=="teacher")
                                var textType = "Profesor";
                            else
                               if (result.response['type']=="student")  
                                    var textType = "Alumno";
                                else
                                      var textType="local";
                                                                                                                  
                            if (textType !=  "local" ) {
									jQuery("#form_data #type").val(textType);
									jQuery("#form_data #name").val(result.response['name']);
									jQuery("#form_data #nif").val(result.response['nif']);       
									jQuery("#form_data #user").val(result.response['user']);
									jQuery("#form_data #surname").val(result.response['surname']);
									if (result.response['photo']!='')
										jQuery("#form_data #photo").attr("src","data:image/png;base64,"+result.response['photo']);                       
			
									grupos="";
									$.each(result.response['groups']['departments'], function(i, l){
										grupos=grupos + l + " " ;                                
									});
			
									$.each(result.response['groups']['classrooms'], function(i, l){
										grupos=grupos + l + " " ;
									});                  
									jQuery("#form_data #group").val(grupos);   
                                   
							}
							else {
									jQuery("#form_data #type").val("local de la máquina");
									jQuery("#form_data #user").val(uid);
							};
							
							jQuery("#form_data #equipo").val(data.host);                               

							jQuery("#form_data #time").val(data.time);   
                            jQuery("#form_data #impresora").val(data.impresora);   
                            jQuery("#form_data #jobid").val(data.jobid);   
                            jQuery("#form_data #trabajo").val(data.trabajo);   
                            jQuery("#form_data #paginas").val(data.paginas);   
                            jQuery("#form_data #copias").val(data.copias);   
                            jQuery("#form_data #total").val(data.total);   
			
							x = (jQuery(window).width()-600)/2;
							y = (jQuery(window).height()-500)/2;
							
							jQuery("#messageLoading").hide();
							jQuery("#list").css("cursor","pointer");                
							
							jQuery("#dialog-form").dialog({
								resizable: false,
								modal: true,
								width: 600,
								stack: false,                                
								title: "Detalle Trabajo Impresión"
							}).dialog('option', 'position', [x, y]);                        

                        });               
                    });
    }

</script>
<script type="text/javascript">
   jQuery(document).ready(function(){
   		print_grid();

	    jQuery( "#fechaini" ).datepicker({
	      changeMonth: true,
	      changeYear: true,
          dateFormat: "dd/mm/yy", 
	      onClose: function( selectedDate ) {
	        $( "#fechafin" ).datepicker( "option", "minDate", selectedDate );
	      },
	      onSelect: function(){ $('#list').trigger('reloadGrid'); }
	    });
	    
	    jQuery( "#fechafin" ).datepicker({
	      changeMonth: true,
	      changeYear: true,
          dateFormat: "dd/mm/yy",
	      onClose: function( selectedDate ) {
          	$( "#fechaini" ).datepicker( "option", "maxDate", selectedDate );
      	  },
	      onSelect: function(){ $('#list').trigger('reloadGrid'); }
	    });	    
   	});         
</script>
