{{extend 'layout.html'}}

    <div>
		<div id="radio" style="float: right;">
	    	<input type="radio" id="radio1" name="radio" value="without" checked="checked" onclick="javascript:jQuery('#list').trigger('reloadGrid');"/><label for="radio1">Sin agrupar</label>
	    	<input type="radio" id="radio2" name="radio" value="print" onclick="javascript:jQuery('#list').trigger('reloadGrid');" style="width:200 em"/><label for="radio2">Impresora</label>
	    	<input type="radio" id="radio3" name="radio" value="user" onclick="javascript:jQuery('#list').trigger('reloadGrid');"/><label for="radio3">Usuario</label>
	    	<input type="radio" id="radio4" name="radio" value="host" onclick="javascript:jQuery('#list').trigger('reloadGrid');"/><label for="radio4">Host</label>
	  	</div>
	    <form action="#" enctype="multipart/form-data" method="post" id="form_logprinter">
	        Fecha inicio: <input id="fechaini" name="fechaini" style="text-align:center; width:80px"/>&nbsp;
	        Fecha fin: <input id="fechafin" name="fechafin" style="text-align:center; width:80px"/>
	        <button type="button" id="clear" style="vertical-align: middle;"></button>                                
	    </form>
	</div>
    <div id="tabla_logprinter">
      <table id="list" width="100%"></table>                        
        <div id="pager" style=""></div> 
        <div id="filter" style="margin-left:30%;display:none">Buscar nada</div>
    </div>

    <div id="dialog-form"></div>

    <div id="dialog-alert" title="Atención" style="display:none;">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Para operar sobre un registro debe seleccionarlo previamente.</p>
    </div>
         

<script type="text/javascript">    

   jQuery(function() {
        jQuery("#dialog-alert").dialog({ autoOpen: false });
        jQuery( "#radio" ).buttonset().find('label').width(100);
		jQuery( "#clear" )
			.button({icons: {primary: "ui-icon-cancel"},text: false })
			.click( function(){
				jQuery(':input','#form_logprinter').not(':button').val('');
				jQuery('#list').trigger('reloadGrid') 
			});
    });
    
                
    function print_grid(){  
		  
          jQuery("#list").jqGrid({
                url:"{{=URL(c='logprinter',f='call',args=['json','list'])}}",
                data: "{}",
                postData: { fechaini: function() { return $("#fechaini").val();} , 
                            fechafin: function() { return $("#fechafin").val();} ,
                            groupBy: function() { return $('input[name=radio]:checked').val();}},
                datatype: 'json',
                mtype: 'GET',
                contentType: "application/json; charset=utf-8",
                complete: function(jsondata, stat) {
                    if (stat == "success") {
                        var thegrid = jQuery("#list")[0];
                        thegrid.addJSONData(JSON.parse(jsondata.responseText).d);
                    }
                },        
                onSelectRow: function (id) { verUsuario(id); },                       
                colNames:['Fecha','Impresora','Jobid','Usuario','Host','Nombre','Pág.','Cop.','Tot.','Bytes'],
                colModel:[                  
                    {name:'time',index:'time', width:40, align:"center"},
                    {name:'impresora',index:'impresora', width:40, align:"left"},
                    {name:'jobid',index:'jobid', width:12, align:"right"},
                    {name:'usuario',index:'usuario', width:30, align:"left"},
                    {name:'host',index:'host', width:30, align:"left"},
                    {name:'trabajo',index:'trabajo', width:60, align:"left"},
                    {name:'paginas',index:'paginas', width:10, align:"left"},
                    {name:'copias',index:'copias', width:10, align:"left"},
                    {name:'total',index:'total', width:10, align:"left"},
                    {name:'tamanio',index:'tamanio', width:15, align:"left"}
                ], 
                rowNum:25,
                height:335,
                width: 900,
                rowList:[25,50,75],  
                pager: '#pager', 
                sortname: 'time',                 
                autowidth: false,
                viewrecords: true, 
                sortorder: "desc", 
                caption:"Log impresión",
                footerrow: true, 
                userDataOnFooter: true            
          }); 
          jQuery("#list").jqGrid('navGrid','#pager',{add:false,edit:false,del:false,search:false,refresh:false});          
          jQuery("#list").jqGrid('filterToolbar'); 
          
          jQuery("#list").jqGrid('navButtonAdd','#pager',{
                    caption: "Exportar CVS",
                    buttonicon :'ui-icon-calculator',
                    onClickButton : function (){               
						   window.open("{{=URL(c='logprinter',f='export_csv',args=['run'])}}");
  		            } 
          }); 

          
          
       
    }

function verUsuario(id){
   
                    jQuery("#list").css("cursor","wait");        
       
					ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
															
					
                    jQuery("#messageLoading").show();
                                        
                    data=jQuery("#list").jqGrid('getRowData',id); 
                    
                    uid=data.usuario;
                                       
                    if(uid==false) return false;                    
                    
                    jQuery("#dialog-form").html("").css("display","none");
                    jQuery("#dialog-form").load("form.html", function() {
                   
                        jQuery("#form_data #action").val("view");
                        jQuery("#form_data #user").attr("readonly","true");
                        jQuery("#form_data #user").css("background-color","#DDD");
                        
                                                                    
                        jQuery.post('call/json/getUserData',{ username: uid }, function(result) {
                            //var result = jQuery.parseJSON(data);
                                                        
                            
                            if(result.response['type']=="teacher")
                                var textType = "Profesor";
                            else
                               if (result.response['type']=="student")  
                                    var textType = "Alumno";
                                else
                                      var textType="local";
                                                                                                                  
                            if (textType !=  "local" ) {
									jQuery("#form_data #type").val(textType);
									jQuery("#form_data #name").val(result.response['name']);
									jQuery("#form_data #nif").val(result.response['nif']);       
									jQuery("#form_data #user").val(result.response['user']);
									jQuery("#form_data #surname").val(result.response['surname']);
									if (result.response['photo']!='')
										jQuery("#form_data #photo").attr("src","data:image/png;base64,"+result.response['photo']);                       
			
									grupos="";
									$.each(result.response['groups']['departments'], function(i, l){
										grupos=grupos + l + " " ;                                
									});
			
									$.each(result.response['groups']['classrooms'], function(i, l){
										grupos=grupos + l + " " ;
									});                  
									jQuery("#form_data #group").val(grupos);   
							}
							else {
									jQuery("#form_data #type").val("local de la máquina");
									jQuery("#form_data #user").val(uid);
							};
							
							jQuery("#form_data #equipo").val(data.host);                               
							jQuery("#form_data #iniSesion").val(data.timelogin);   
							jQuery("#form_data #finSesion").val(data.timelogout);   
			
							x = (jQuery(window).width()-400)/2;
							y = (jQuery(window).height()-500)/2;
							
							jQuery("#messageLoading").hide();
							jQuery("#list").css("cursor","pointer");                
							
							jQuery("#dialog-form").dialog({
								resizable: false,
								modal: true,
								width: 400,
								stack: false,                                
								title: "Consultar Sesión de Usuario"
							}).dialog('option', 'position', [x, y]);                        

                        });               
                    });
    }

</script>
<script type="text/javascript">
   jQuery(document).ready(function(){
   		print_grid();

	    jQuery( "#fechaini" ).datepicker({
	      changeMonth: true,
	      changeYear: true,
	      onClose: function( selectedDate ) {
	        $( "#fechafin" ).datepicker( "option", "minDate", selectedDate );
	      },
	      onSelect: function(){ $('#list').trigger('reloadGrid'); }
	    });
	    
	    jQuery( "#fechafin" ).datepicker({
	      changeMonth: true,
	      changeYear: true,
	      onClose: function( selectedDate ) {
          	$( "#fechaini" ).datepicker( "option", "maxDate", selectedDate );
      	  },
	      onSelect: function(){ $('#list').trigger('reloadGrid'); }
	    });	    

	    $.datepicker.regional['es'] = {
	        closeText: 'Cerrar',
	        prevText: '<Ant',
	        nextText: 'Sig>',
	        currentText: 'Hoy',
	        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	        monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
	        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
	        dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
	        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
	        weekHeader: 'Sm',
	        dateFormat: 'dd/mm/yy',
	        firstDay: 1,
	        isRTL: false,
	        showMonthAfterYear: false,
	        yearSuffix: ''
	    };
	    $.datepicker.setDefaults($.datepicker.regional['es']);

   	});         
</script>
