{{extend 'layout.html'}}
        <div id="tabla_clientes" class="centerGrid">
		   <table id="list" width="100%"></table>
		   <div id="pager" style=""></div> 
		   <div id="filter" style="margin-left:30%;display:none">Search Invoices</div>
        </div>

        <div id="dialog-form"></div>

        <div id="dialog-confirm" title="¿Borrar el registro seleccionado?" style="display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Este elemento quedará permanentemente eliminado. ¿Está seguro?</p>
        </div>

        <div id="dialog-alert" title="Atención" style="display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Para operar sobre un registro debe seleccionarlo previamente.</p>
        </div>





<script type="text/javascript">  

{{block vars_definition}} 
	var type_host = "ltsp-server-hosts";
	var name_host = "Servidor de Aula";
{{end}}

    jQuery(function() {
        jQuery("#dialog-confirm").dialog({ autoOpen: false });
        jQuery("#dialog-alert").dialog({ autoOpen: false });
    });

    function print_grid(){  
        jQuery("#list").jqGrid({
            url:"{{=URL(c='hosts',f='call',args=['json','list'])}}",
            data: "{}",
            datatype: 'json',
            mtype: 'GET',           
                                      
            colNames:['Nombre','IP','mac'],
            colModel:[ 
                {name:'cn',index:'cn', width:80, align:"center"},
                {name:'ipHostNumber',index:'ipHostNumber', width:60, align:"center"},
                {name:'macAddress',index:'macAddress', width:60, align:"center"}
            ], 
            postData:{type_host:type_host},
            caption:name_host,
            rowNum:25,
            height:335,
            width: 900,
            rowList:[25,50,75], 
            pager: '#pager', 
            sortname: 'cn', 
            autowidth: false,
            viewrecords: true, 
            sortorder: "desc",
            multiselect: true
        }); 
                      
        jQuery("#list").jqGrid('navGrid','#pager',{add:false,edit:false,del:false,search:false,refresh:false});
        
        jQuery("#list").jqGrid('navButtonAdd','#pager',{
				caption: "",
                title: "Insertar",
                buttonicon :'ui-icon-plus',
                onClickButton : function (){ 
                    addRecord();
                } 
        }); 
        jQuery("#list").jqGrid('navButtonAdd','#pager',{
				caption: "",
                title: "Modificar", 
                buttonicon :'ui-icon-pencil',
                onClickButton : function (){ 
                    modifyRecord();
            } 
        }); 
        jQuery("#list").jqGrid('navButtonAdd','#pager',{
				caption: "",
                title: "Borrar", 
                buttonicon :'ui-icon-trash',
                onClickButton : function (){ 
                    deleteRecord();
            } 
        }).navSeparatorAdd("#pager",{sepclass : "ui-separator"});        
        jQuery("#list").jqGrid('navButtonAdd','#pager',{
                caption: "",
                title: "Mover Equipo",
                buttonicon :'ui-icon-transferthick-e-w',
                onClickButton : function (){ 
                    moveRecord();
            } 
        }); 
        jQuery("#list").jqGrid('filterToolbar'); 
    }

    function rowSelected(){
            var id = jQuery("#list").jqGrid('getGridParam','selrow'); 
        
            if( id == null ){
                jQuery( "#dialog-alert" ).dialog({
                    resizable: false,
                    height:150,
                    width:290,
                    modal: true,
                    buttons: { "Aceptar": function() { $( this ).dialog( "close" ); }}
                }).dialog('open');
                return false;
            }
            return id;
    }        
                                     
	function modifyRecord(){
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
		jQuery("#messageLoading").show();
		
        var rows = rowsSelected(1);
        if(rows.length!=1)
            return false;

		jQuery("#dialog-form").html("").css("display","none");   
		jQuery("#dialog-form").load("form_ltspserver.html", function() {
			jQuery("#form_data #action").val("modify");
			jQuery("#form_data #name").attr("readonly","true");
			jQuery("#form_data #name").css("background-color","#DDD");                   
			jQuery.post('call/json/getHostData',{ cn:rows[0],type_host:type_host }, function(result) {
				
				jQuery("#form_data #name").val(result.response['cn']);               
				jQuery("#form_data #mac").val(result.response['mac']);                           
				jQuery("#form_data #type_host").val(type_host);
				
				var ip = result.response['ip'].split(".");
				jQuery("#form_data #subrange").val(ip[1]);
				jQuery("#form_data #range").val(ip[2]);				
				jQuery("#form_data #ip").val(ip[3]);								
							
				jQuery("#messageLoading").hide();
				
				jQuery("#dialog-form").dialog({
					position: { my: "center top+35%", at: "top", of: window},
					resizable: false,
					modal: true,
					width: 300,                            
					title: "Modificar "+name_host
				});                        
			});            
		});
	}



    function addRecord(){
    ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
        jQuery("#dialog-form").html("");
        jQuery("#dialog-form").load("form_ltspserver.html", function() {
            jQuery("#form_data #action").val("add");
			jQuery("#form_data #type_host").val(type_host);
            jQuery("#form_data #messageForm").html("Todos los campos son obligatorios");                 
        });
    
        jQuery("#dialog-form").dialog({
	    position: { my: "center top+35%", at: "top", of: window},
            resizable: false,
            modal: true,                       
            title: "Añadir "+name_host
        });
    } 


    
function deleteRecord(){
    ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
        var rows = rowsSelected();
        if(rows.length==0)
            return false; 

        jQuery( "#dialog-confirm" ).dialog({
            resizable: false,
            height:160,
            width:350,
            modal: true,
            buttons: {
                "Borrar": function() {
                    jQuery.post("call/json/delete",{cn:rows,action:'delete',type_host:type_host}, function(data){
                        jQuery("#dialog-confirm").dialog( "close" );
                        jQuery("#list").trigger("reloadGrid");
                    });
                },
                "Cancelar": function() {
                    $(this).dialog( "close" );
                }
            }
        }).dialog('open');
}    

    function moveRecord(){
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
        jQuery("#messageLoading").show();
        
        var rows = rowsSelected();
        if(rows.length==0)
            return false; 

        jQuery("#dialog-form").html("").css("display","none");
        jQuery("#dialog-form").load("form_move.html", function() {                        
            
            jQuery("#form_data #messageForm").html("Con esta opción moveremos de grupo un dispositivo");
            jQuery("#form_data #source").val(type_host);
            jQuery("#form_data #hosts").val(rows);
            
            jQuery.post('call/json/getNetgroups',{ type_host: type_host }, function(result) {
				for(r=0;r<result.response.length;r++){
					$("#netgroup").append('<option value="'+result.response[r]+'">'+result.response[r]+'</option>');
				}
                jQuery("#dialog-form").dialog({
		    position: { my: "center top+35%", at: "top", of: window},
                    resizable: false,
                    modal: true,
                    width: 350,
                    title: "Mover Dispositivo"
                });
            });               
        });
    }

</script>

<script type="text/javascript">
  jQuery(document).ready(function(){  print_grid();}); 
</script>
