<script language="javascript">

    jQuery(function() {
        jQuery("#form_dataNFS #password").focus();
        jQuery("#form_dataNFS #saveButton").button({ icons: { primary: "ui-icon-disk"}});
        jQuery("#form_dataNFS #cancelButton")
            .button({ icons: { primary: "ui-icon-close"}})
            .click( function(){ jQuery('#dialog-form2').dialog('close'); });
    });

    function restartStyle(){
        jQuery("#form_dataNFS p span").css("color","black");
        jQuery('#message').html("");
    }

    function sendNFS(){
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
        restartStyle();
        jQuery.post('call/json/create_home_directory', jQuery("#form_dataNFS").serialize(), function(result) {
            switch(result.response){
                case "OK":{
                    jQuery('#form_dataNFS #message').html("Operación realizada correctamente").css("color","green").effect("highlight", {"color":"yellow"}, 1000);
                    setTimeout("$('#dialog-form2').dialog('close')",1000);
                    break;
                }
                case "failServer":{
                    jQuery('#form_dataNFS #message').html("Falló la conexión con el servidor").effect("highlight", {"color":"yellow"}, 1000);
                    break;
                }
                case "failAuth":{
                    jQuery('#form_dataNFS #message').html("Falló la autenticación").effect("highlight", {"color":"yellow"}, 1000);
                    break;
                }                
                default:{
                    jQuery('#form_dataNFS #'+result.response+"Tag").css("color","red");
                    jQuery('#form_dataNFS #'+result.response).effect("highlight", {"color":"yellow"}, 1000).focus();
                    jQuery('#form_dataNFS #message').html("Hay campos vacíos o incorrectos").effect("slide");
                    break;
                }
            }
        });

        return false;
    }

</script>
 
<form id="form_dataNFS" onsubmit="return sendNFS();">
    <input type="hidden" id="action" name="action"/>   
    <input type="hidden" id="type" name="type"/>
    <input type="hidden" id="username" name="username"/>    
    <div>
    	<h3 style="text-align:center;">Versión Beta</h3>
		<p style="text-align:center;">Para crear el directorio personal en el Servidor NFS necesitaré las credenciales<p>
        <div>
            <p><span id="nameTag">Directorio personal de</span><br><input type="text" id="name" name="name" style="background-color:#DDD;" readonly="true"/></p>   
            <p><span id="hostTag">Servidor NFS</span><br><input type="text" id="host" name="host" value="servidor" style="background-color:#DDD;" readonly="true"/></p>                    
            <p><span id="userTag">Usuario</span><br><input type="text" id="user" name="user" value="root" style="background-color:#DDD;" readonly="true"/></p>
            <p><span id="passwordTag">Contraseña</span><br><input type="text" id="password" name="password"/></p>
            <p id="trustRelationshipP"><span id="trustRelationshipTag">Establecer relación de confianza SSH</span>&nbsp;&nbsp;<input type="checkbox" id="trustRelationship" name="trustRelationship"/></p>   
        </div>
    </div>
    <div id="message" style="text-align:center; font-weight:bold; color:red; padding:3px; "></div>
    <div style="text-align:center;"><button id="saveButton" type="submit" style="width:100px;">Guardar</button>&nbsp;&nbsp;<button type="button" id="cancelButton" style="width:100px;">Cancelar</button></div>
    <p style="padding-top:10px; text-align:center; font-size:10px;" id="messageForm"></p>       
</form>
