<script language="javascript">

    $(function() {
        $("#name").focus();
        $("#saveButton").button({ icons: { primary: "ui-icon-disk"}});
        $("#cancelButton")
            .button({ icons: { primary: "ui-icon-close"}})
            .click( function(){ $('#dialog-form').dialog('close'); });
    });

    function restartStyle(){
        $("#form_data p span").css("color","black");
        $('#message').html("");
    }

    function send(){
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
        restartStyle();
        jQuery.post('call/json/modify_user', jQuery("#form_data").serialize(), function(result) {
            //var result = $.parseJSON(data);
            switch(result.response){
                case "OK":{
                    jQuery('#message').html("Operación realizada correctamente").css("color","green").effect("highlight", {"color":"yellow"}, 1000);
					jQuery("#list").trigger("reloadGrid");
					
					if(jQuery("#form_data #action").val()=="add" && jQuery("#form_data #homeDirectory").is(':checked'))
						setTimeout("createHomeDirectory('"+jQuery("#form_data #user").val()+"','"+jQuery("#form_data #type").val()+"')",500);
					else{
						setTimeout("$('#dialog-form').dialog('close')",1000);
					}
                    break;
                }
                case "fail":{
                    jQuery('#message').html("Se produjo un error").effect("highlight", {"color":"yellow"}, 1000);
                    break;
                }
                case "distinctPassword":{
                    jQuery('#password2Tag').css("color","red");
                    jQuery('#password2').effect("highlight", {"color":"yellow"}, 1000).focus();
                    jQuery('#message').html("La repetición no coincide").effect("highlight", {"color":"yellow"}, 1000);
                    break;
                }
                case "userAlreadyExists":{
                    jQuery('#userTag').css("color","red");
                    jQuery('#user').effect("highlight", {"color":"yellow"}, 1000).focus();
                    jQuery('#message').html("Ya existe ese nombre de usuario").effect("slide");                  
                    break;
                }
                default:{
                    jQuery('#'+result.response+"Tag").css("color","red");
                    jQuery('#'+result.response).effect("highlight", {"color":"yellow"}, 1000).focus();
                    jQuery('#message').html("Hay campos vacíos o incorrectos").effect("slide");
                    break;
                }
            }
        });

        return false;
    }

    function searchUsername(){
        if(jQuery("#form_data #action").val()=="add")
            jQuery.post('call/json/searchUsername','name='+jQuery("#form_data #name").val()+'&surname='+jQuery("#form_data #surname").val(), function(data) {
                //var result = $.parseJSON(data);
                jQuery("#form_data #user").val(result.response);
            });
    }
</script>
 
<form id="form_data" onsubmit="return send();">
    <input type="hidden" id="action" name="action"/>
    <div>
        <div style="float:right;">
            <p> {{=IMG(_src=URL('static','images/nobody.png'),_id='photo',_name='photo', _style='border:1px solid #BBB;')}} </p>
        </div>
        <div>
            <p><span id="typeTag">Tipo Usuario</span><br>
                <select type="text" id="type" name="type">
                    <option value="none">Seleccione...</option>
                    <option value="teacher">Profesor</option>
                    <option value="student">Alumno</option>
                </select>
            </p>    
            <p><span id="nameTag">Nombre</span><br><input type="text" id="name" name="name"/></p>
            <p><span id="surnameTag">Apellidos</span><br><input type="text" id="surname" name="surname"/></p>
            <p><span id="nifTag">NIF</span><br><input type="text" id="nif" name="nif"/></p>

            <p><span id="departmentsTag">Departamentos</span><br><select type="text" id="departments" name="departments[]" multiple style="width:250px;"></select>
            <p><span id="classroomsTag">Cursos</span><br><select type="text" id="classrooms" name="classrooms[]" multiple style="width:250px;"></select>    
                    
            <p><span id="userTag">Usuario</span><br><input type="text" id="user" name="user"/></p>
            <p><span id="passwordTag">Contraseña</span><br><input type="text" id="password" name="password"/></p>
            <p><span id="password2Tag">Repita Contraseña</span><br><input type="text" id="password2" name="password2"/></p>
            <p id="homeDirectoryP" style="display:none;"><span id="homeDirectoryTag">Crear directorio personal (versión Beta)</span>&nbsp;&nbsp;<input type="checkbox" id="homeDirectory" name="homeDirectory"/></p>            
        </div>
    </div>
    <div id="message" style="text-align:center; font-weight:bold; color:red; padding:3px; "></div>
    <div style="text-align:center;"><button id="saveButton" type="submit" style="width:100px;">Guardar</button>&nbsp;&nbsp;<button type="button" id="cancelButton" style="width:100px;">Cancelar</button></div>
    <p style="padding-top:10px; text-align:center; font-size:10px;" id="messageForm"></p>       
</form>

<div id="dialog-form-home-directory"></div>
