<!-- Libreria Multiselect -->
{{response.files.append(URL('static','js/multiselect/jquery.multiselect.css'))}}
{{response.files.append(URL('static','js/multiselect/jquery.multiselect.min.js'))}}
{{response.files.append(URL('static','js/multiselect/jquery.multiselect.es.js'))}}
{{#response.files.append(URL('static','css/helper.css'))}}
{{#response.files.append(URL('static','css/dropdown.css'))}}
{{#response.files.append(URL('static','css/default.advanced.css'))}}
 
{{extend 'layout.html'}}

        <div id="tabla_clientes">
		  <table id="list" width="100%"></table>
            <div id="pager" style=""></div> 
            <div id="filter" style="margin-left:30%;display:none">Buscar nada</div>
        </div>

        <div id="dialog-form"></div>
        <div id="dialog-form2"></div>        

        <div id="dialog-confirm" title="¿Borrar el registro seleccionado?" style="display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Este elemento quedará permanentemente eliminado. ¿Está seguro?</p>
        </div>

<script type="text/javascript">  
    
    jQuery(function() {
        jQuery("#dialog-confirm").dialog({ autoOpen: false });
    });
    
                
    function print_grid(){  
          jQuery("#list").jqGrid({
                url:"{{=URL(c='usuarios',f='call',args=['json','list'])}}",
                data: "{}",
                datatype: 'json',
                mtype: 'GET',
                contentType: "application/json; charset=utf-8",
                complete: function(jsondata, stat) {
                    if (stat == "success") {
                        var thegrid = jQuery("#list")[0];
                        thegrid.addJSONData(JSON.parse(jsondata.responseText).d);
                    }
                },
                
                colNames:['Tipo Usuario','Nombre','Usuario','ID usuario','ID Grupo','Identificación'],
                colModel:[ 
                    {name:'type',index:'type', width:60, align:"center",  stype:'select', editoptions:{value:":Todo;Profesor:Profesores;Alumno:Alumnos;Personal:Personal"}},
                    {name:'cn',index:'cn', width:140, align:"left"},
                    {name:'uid',index:'uid', width:90, align:"center"},
                    {name:'uidNumber',index:'uidNumber', width:70, align:"center"},
                    {name:'gidNumber',index:'gidNumber', width:70, align:"center"},
                    {name:'employeeNumber',index:'employeeNumber', width:80, align:"center"}
                ], 
                rowNum:25,
                height:335,
                width: 900,
                rowList:[25,50,100,500,1000],  
                pager: '#pager', 
                sortname: 'cn', 
                autowidth: false,
                viewrecords: true, 
                multiselect: true,
                sortorder: "desc", 
                caption:"Usuarios"    
        
          }); 
          jQuery("#list").jqGrid('navGrid','#pager',{add:false,edit:false,del:false,search:false,refresh:false});
        
            jQuery("#list").jqGrid('navButtonAdd','#pager',{
            		caption:"",
                    title: "Insertar",
                    buttonicon :'ui-icon-plus',
                    onClickButton : function (){ 
                        addRecord();
                    } 
            }); 
            jQuery("#list").jqGrid('navButtonAdd','#pager',{
            		caption:"",
                    title: "Modificar", 
                    buttonicon :'ui-icon-pencil',
                    onClickButton : function (){ 
                        modifyRecord();
                } 
            }); 
            jQuery("#list").jqGrid('navButtonAdd','#pager',{
            		caption:"",
                    title: "Borrar", 
                    buttonicon :'ui-icon-trash',
                    onClickButton : function (){ 
                        deleteRecord();
                } 
            }); 
        
          
          jQuery("#list").jqGrid('filterToolbar'); 
       
    }    
    
    function addRecord(){
    		ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
            jQuery("#messageLoading").show();
        
            jQuery("#dialog-form").html("").css("display","none");
            jQuery("#dialog-form").load("form.html", function() {
                getAllGroups();
                jQuery("#form_data #action").val("add");
                jQuery("#form_data #homeDirectoryP").css("display","block");
                
                jQuery("#form_data #messageForm").html("Todos los campos son obligatorios");                                     

                jQuery("#messageLoading").hide();
        
                jQuery("#dialog-form").dialog({
                    position: { my: "center top+5%", at: "top", of: window},
                    resizable: false,
                    modal: true,
                    width: 350,
                    title: "Añadir Usuario"
                });
            });
    }


   
    function modifyRecord(){
		ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
                    var uid;
    
        jQuery("#messageLoading").show();
        
        var rows = rowsSelected(1);
        if(rows.length!=1)
            return false;

        jQuery("#dialog-form").html("").css("display","none");
        jQuery("#dialog-form").load("form.html", function() {
            
            getAllGroups();
            
            jQuery("#form_data #action").val("modify");
            jQuery("#form_data #user").attr("readonly","true");
            jQuery("#form_data #user").css("background-color","#DDD");
            jQuery("#form_data #messageForm").html("Si deja la contraseña en blanco no se modificará<br>El resto de campos son obligatorios");
            
            jQuery.post('call/json/getUserData',{ username: rows[0] }, function(result) {
                //var result = jQuery.parseJSON(data);

                if(result.response['type']=="teacher")
                    var textType = "Profesor";
                else if(result.response['type']=="staff")
                    var textType = "Personal no docente";
                else
                    var textType = "Alumno";
                    
                var dep = Array(result.response['groups']['departments']);

                jQuery("#form_data #type").replaceWith(textType+"<input type='hidden' id='type' name='type' value='"+result.response['type']+"'/>");
                jQuery("#form_data #name").val(result.response['name']);
                jQuery("#form_data #nif").val(result.response['nif']);       
                jQuery("#form_data #user").val(result.response['user']);
                jQuery("#form_data #surname").val(result.response['surname']);
                if (result.response['photo']!='')
                    jQuery("#form_data #photo").attr("src","data:image/png;base64,"+result.response['photo']);                       


				$("#form_data #departments").multiselect("widget").find(":checkbox").each(function(){
					if(jQuery.inArray(this.value,result.response['groups']['departments'])>=0)
						this.click();
				});

				$("#form_data #classrooms").multiselect("widget").find(":checkbox").each(function(){
					if(jQuery.inArray(this.value,result.response['groups']['classrooms'])>=0)
						this.click();
				});

                jQuery("#messageLoading").hide();
                
                jQuery("#dialog-form").dialog({
                    position: { my: "center top+5%", at: "top", of: window},
                    resizable: false,
                    modal: true,
                    width: 350,
                    title: "Modificar Usuario",
					close: function(event, ui) {
						$("#form_data #departments").multiselect("close");
						$("#form_data #classrooms").multiselect("close");
					}
                });
            });               
        });
    }
    
    function deleteRecord(){
		ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session

        var rows = rowsSelected();
        if(rows.length==0)
            return false;
                
        jQuery( "#dialog-confirm" ).dialog({
            resizable: false,
            height:160,
            width:350,
            modal: true,
            buttons: {
                "Borrar": function() {
                    jQuery.post("call/json/delete",{user:rows}, function(data){
                        jQuery("#dialog-confirm").dialog( "close" );
                        jQuery("#list").trigger("reloadGrid");
                    });
                },
                "Cancelar": function() {
                    $(this).dialog( "close" );
                }
            }
        }).dialog('open');
    }
    
    function getAllGroups(){
        $.post("{{=URL(c='grupos',f='call',args=['json','getAllGroups'])}}",   function(groups) {
            //var groups = $.parseJSON(data);                 
            
            $.each( groups.departments, function(i, l){
                jQuery("#form_data #departments").append("<option value='"+l+"'>"+l+"</option>");
             });
            $.each( groups.classrooms, function(i, l){
                jQuery("#form_data #classrooms").append("<option value='"+l+"'>"+l+"</option>");
             });                         
            jQuery("#form_data #departments").multiselect({selectedList: 4}); 
            jQuery("#form_data #classrooms").multiselect({selectedList: 4});                       
        });             
    }

	function createHomeDirectory(username,type){	
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
		$.post("{{=URL(c='usuarios',f='call',args=['json','create_home_directory_withoutpass'])}}", {username:username, type:type}, function(result) {
			switch(result.response){
				case 'failAuth':{
					formCreateHomeDirectory(username,type);
					break;
				}
				case 'OK':{
					jQuery('#message').html("Home creado correctamente").css("color","green").effect("highlight", {"color":"yellow"}, 1000);
					setTimeout("$('#dialog-form').dialog('close')",1000);
					break;
				};
			}
		});  
	}

	function formCreateHomeDirectory(username,type){	
    	ajax("{{=URL('default', 'login_status')}}", [], ':eval'); //Check session
		setTimeout("$('#dialog-form').dialog('close')",200);
		jQuery("#dialog-form2").load("form_home_directory.html", function() {
			jQuery("#form_dataNFS #username").val(username);			
			jQuery("#form_dataNFS #name").val(username+" ("+typeUser(type)+")");
			jQuery("#form_dataNFS #type").val(type);
	
			jQuery("#dialog-form2").dialog({
			    position: { my: "center top+5%", at: "top", of: window},
				resizable: false,
				position: top,
				modal: true,
				width: 350,
				title: "Crear Directorio Personal"
			});
		});
	}

	function typeUser(type){
		switch(type){
			case 'student': return "Alumno";
			case 'teacher': return "Profesor";
			case 'staff': return "Personal no docente";
		}
	}
</script>

<script type="text/javascript">
  jQuery(document).ready(function(){  print_grid();}); 
</script>
