/* CSS Document */
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
}
#upload_button {
	width:120px;
	height:35px;
	text-align:center;
	background-image:url(images/boton.png);
	color:#CCCCCC;
	font-weight:bold;
	padding-top:15px;
	margin:auto;
	cursor:pointer;
}
#upload_button:hover{
	color:#FFFFFF;
}
